.placeholders-wrapper
  - 3.times do
    = render partial: 'timelines/placeholder', locals: {menu_name: '', menu_or_users: 'tweets'}

.tweets-wrapper{style: 'margin-bottom: 15px;'}
  .main-content.twitter.tweets.row

:javascript
  $(function () {
    var uid = '#{twitter_user.uid}';
    var url = '#{api_path}';
    var $placeholders = $('.placeholders-wrapper');
    var $tweetsContainer = $('.main-content.twitter.tweets');

    function loadTweets () {
      $.getJSON(url, {uid: uid, html: 1}).done(function (res) {
        console.log(res);

        $placeholders.remove();
        $tweetsContainer.append(res.statuses);
        twttr.widgets.load();
      });
    }

    loadTweets();
  });

