<div class="my-3">
  <div class="mb-3">
    Webサイトを今後も利用する場合は、有料プランの購入とブロック解除の両方が必要です。<br>
    <br>
    両方とも完了した後に、下記のボタンから利用制限の解除を申請してください。
  </div>

  <div class="mb-3">
    1. ブロックを解除する<br>
    <%= link_to '@ego_tter を開く', twitter_web_url('ego_tter'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  </div>

  <div class="mb-3">
    2. 有料プランを購入する<br>
    <%= link_to '料金ページ を開く', pricing_path(via: current_via('blocker_not_permitted_message')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  </div>

  <div class="mb-3">
    3. 利用制限の解除を申請する<br>
    <% if user_signed_in? && current_user.has_valid_subscription? %>
      <button type="button" id="destroy-banned-user-button" class="btn btn-outline-primary btn-sm">利用制限の解除を申請する</button>
      <script>
        $(function () {
          var url = '<%= raw api_v1_banned_users_destroy_path(via: current_via) %>';
          var redirectUrl = '<%= raw root_path(via: current_via) %>';

          $('#destroy-banned-user-button').on('click', function () {
            $.ajax({url: url, type: 'DELETE'}).done(function (res) {
              ToastMessage.info(res.message);
              setTimeout(function () {
                window.location.href = redirectUrl;
              }, (res.interval || 3) * 1000);
            }).fail(showErrorMessage);
            return false;
          });
        });
      </script>
    <% else %>
      <button type="button" class="btn btn-outline-primary btn-sm disabled" disabled="disabled">利用制限の解除を申請する</button>
      <div class="text-muted small mt-1">※ 有料プランの購入を先に済ませてください。</div>
    <% end %>

    <div class="text-muted small my-3">※ 利用制限の解除のために購入された売上は、全額を特定公益増進法人（例：日本赤十字社）に寄付します。</div>
  </div>
</div>
