<p class="mb-3">4月4日1時頃記載：えごったーが全面的に停止されました。現在は状況を調査中です。最新の情報は <a href="https://twitter.com/ego_t
ter" target="_blank">@ego_tterの最新ツイート</a> をご覧になってください。急遽停止されてしまいましたが今後はデータの閲覧のみ可能になる方向で調整中です。</p>

<div class="font-weight-bold mb-1">定期購読プランの更新と解約について</div>
<p class="mb-3">定期購読プランは今後のデータ閲覧に必要なため、自動的に停止されることはありません。定期購読プランをお持ちで今後使う予定のない方は <a href="<%= settings_order_history_path(via: current_via) %>">設定 &gt; 購入履歴</a> からご自身でプランの解約を行ってください。
えごったーへのログインができない方は <a href="<%= cancel_plan_url %>" target="_blank">定期購読プランの解約フォーム</a> からプランの解約を申請してください。</p>
