<div class="my-3">
  1. 「ページの有効期限」とは何ですか？<br>
  Webページを開いたままにしておける有効期限のことです。一定時間が経過すると自動でこの状態になります。<br>
  <br>
  2. この状態だと何が起きますか？<br>
  ログインし直すことでまたえごったーを利用できるようになります。<br>
  <br>
  3. どうしても元に戻りません<br>
  <a href="<%= twitter_web_url('egotter_cs') %>" class="btn btn-outline-primary btn-sm">@egotter_cs</a> にこのスクリーンショットをご連絡ください。
</div>
