<%= alert_box class: 'my-5', category: 'danger' do %>
  <div>
    2022年12月から、ツイッター公式アプリにバグがあり、ログインに失敗することがあります。
    ログインに失敗する場合は <a data-toggle="collapse" aria-expanded="false" href="#login-bug-details">この手順</a> をお試しください。
  </div>
<% end %>

<div id="login-bug-details" class="collapse my-5">
  <p class="my-3">ログインに失敗する場合はこのツイートの手順をお試しください。</p>
  <blockquote class="twitter-tweet">
    <a href="https://twitter.com/egotter_cs/status/1623698768356085760?ref_src=twsrc%5Etfw"></a>
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
