<div class="text-right">
  <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" aria-expanded="false" href="#not-found-reason-details">「アカウント削除」の意味
    <i class="far fa-question-circle"></i></a>
</div>

<div id="not-found-reason-details" class="card collapse my-3">
  <div class="card-body">
    1. <strong>アカウント削除</strong>はどういう時に起きる？<br>
    アカウントの持ち主がアカウントを削除すると、この状態になります。もうフォローすることもツイートを見ることもできません。<br>
    <br>
    2. <strong>アカウント削除</strong>は二度と復活しない？<br>
    アカウントの持ち主であれば、削除から一定期間内であれば復活させることができます。<br>
    <br>
    3. えごったーでの表示とずれている？<br>
    削除した直後だったり、削除と復活を繰り返していると、えごったー上での表示と一時的にずれることがあります。その時は、<span class="egotter-pink">ツイッターで見る</span>と確実です。
  </div>
</div>

<script>
  $(function () {
    $('#not-found-reason-details').one('show.bs.collapse', function () {
      trackMessageEvent('NotFoundReasonDetailsMessage');
    });
  });
</script>
