<div class="card">
  <div class="card-body">
    <div class="text-danger mb-3">@<%= user %> のツイッター連携（DM）が無効になっています。</div>
    1. <a class="btn btn-primary btn-sm" href="<%= url %>">再ログイン</a> してください。ほとんどの場合これで解決します。<br>
    <br>
    2. <a href="https://twitter.com/settings/applications/185425" class="btn btn-outline-primary btn-sm" target="_blank" rel="nofollow">連携アプリ</a> からえごったーを削除した後、もう一度ログインしてください。<br>
    <br>
    3. [1]と[2]で解決しない場合は、このエラーのスクリーンショットを <a href="https://twitter.com/egotter_cs" target="_blank" rel="nofollow">@egotter_cs</a> まで送ってください。<br>
    <br>
    エラー：PLNE403
  </div>
</div>

<script>
  trackMessageEvent('PermissionLevelNotEnoughMessage shown');
</script>
