<div class="my-3">
  1. これは何？<br>
  検索されたユーザーのフォロー＋フォロワーが多く、さらに、検索したユーザーがログインしていない時に起きるエラーです。<br>
  <br>
  2. どうやったら検索できるの？<br>
  <a class="btn btn-primary btn-sm" href="<%= sign_in_path(via: current_via) %>">ログイン</a> して検索すればOKです。<br>
  <br>
  3. ログインするとどうなるの？<br>
  専用のツイッターAPIで検索するので、フォロー＋フォロワー数が多くても検索できるようになります。<br>
  <br>
  さらに、検索が早くなったり、リムられ通知が届くようになります。
</div>
