<p class="mb-3">2026年1月 更新：えごったーは過去データの閲覧専用になっています。理由は、ツイッターAPIの大幅な値上げ（560〜2,800万円/月）です。
  最新の情報は <a href="https://twitter.com/ego_tter" target="_blank">@ego_tterの最新ツイート</a> をご覧になってください。</p>

<div class="font-weight-bold mb-1">定期購読プランの更新と解約について</div>
<p class="mb-3">
  定期購読プランは、今でも見たいという方がいるため自動的に停止されることはありません。購入済みの定期購読プランを停止したい場合は、
  ログインできる場合、<a href="<%= settings_order_history_path(via: current_via) %>">自分で解約</a> することができます。
  ログインができない場合、<a class="cancel-plan-link" href="<%= cancel_plan_url %>" target="_blank">定期購読プランの解約フォーム</a> からご連絡ください。こちらで解約と利用期間に応じた返金を行います。
</p>

<div class="font-weight-bold mb-1">期間固定（1〜12ヶ月）プランの返金について</div>
<p class="mb-3">2023年5月に返金の対象者全員にメールで連絡を行い、返信があった方全員に返金を行いました。ご対応いただきありがとうございました。</p>

<div class="font-weight-bold mb-1">「定期購読プラン」を購入済みの方へ</div>
<p class="mb-3">
  定期購読プランはご自身で解約しない限り継続されます。過去に蓄積されたブロック通知、ミュート通知のデータはプラン購入者のみの限定公開になっています。購入済みの定期購読プランを停止したい場合は、
  ログインできる場合、<a href="<%= settings_order_history_path(via: current_via) %>">自分で解約</a> することができます。
  ログインができない場合、<a class="cancel-plan-link" href="<%= cancel_plan_url %>" target="_blank">定期購読プランの解約フォーム</a> からご連絡ください。こちらで解約と利用期間に応じた返金を行います。
</p>

<div class="font-weight-bold mb-1">「定期購読プランの解約フォーム」を入力した方へ</div>
<p class="mb-3">
  入力があった方全員に返金を行っています。返金が完了するとクレジットカードに対して返金額が反映されます。
  入力された支払い情報に誤りがある（当時のツイッターIDが曖昧、購入者の名前を「あ」にした、等）場合、どの購入なのか特定できないことがあります。ツイッターIDやメールアドレスが曖昧な場合は思い当たるもの全てを入力してください。できる限りこちらで探します。
</p>

<div class="font-weight-bold mb-1">「閲覧専用」「更新が止まる」の意味</div>
<p class="mb-3">閲覧専用になると、フォロー・フォロワーのデータを新しく更新することやツイートの削除ができなくなります。過去に蓄積されたデータを見ることはできます。リムられ通知、ブロック通知、ミュート通知はデータ更新が止まった時点までのデータを見る専用になります。</p>
