<p class="mb-3">4月3日記載：ツイッターAPIの大幅な値上げ（560〜2,800万円/月）により、4月30日以降はデータ更新を止めて閲覧専用になる可能性が高いです。データ分析やツイート一括削除はそれまでにご利用ください。</p>

<div class="font-weight-bold mb-1">「値上げして存続」の可能性について</div>
<p class="mb-3">えごったープランの料金を値上げして、購入希望総額がえごったー維持の最低ライン（560万円/月）を超えた場合のみ4月30日以降もデータ更新を継続することができるかもしれません。
  値上げ後の新プランの購入を希望する方は <a href="<%= new_plan_preorder_url %>" target="_blank">4月30日以降の新プラン購入予約</a> から購入の予約を行ってください。</p>

<div class="font-weight-bold mb-1">今後の流れ</div>

<a onclick="$('#global-important-message').show(); $(this).hide(); return false;" href="#">続きを読む</a>

<div id="global-important-message" style="display: none;">
  <p class="mb-3">
    4月30日まではこれまで通り使えます。4月30日以降は原則として新しいデータの更新がなくなり過去データの閲覧専用になります。長期的にいつまで閲覧が可能かはまだ決まっていません。<br>
    <br>
    4月25日頃：「アーカイブデータを使ったツイート一括削除」の新規受付停止<br>
    4月29〜30日頃：データ更新の停止。以後はデータの閲覧専用になります<br>
    5月1〜2日頃：長期間の期間固定プラン購入者を対象に、残っている期間の返金受付を開始（後述）<br>
    5月2日以降：閲覧専用としてWebサイトは継続
  </p>

  <div class="font-weight-bold mb-1">「定期購読プラン」を購入済みの方へ</div>
  <p class="mb-3">使わなくなった時点でご自身で解約を行ってください。定期購読プランはご自身で解約しない限り継続されます。4月30日以降も定期購読プランは継続し、過去に蓄積されたブロック通知、ミュート通知のデータはプラン購入者のみの限定公開になります。</p>

  <div class="font-weight-bold mb-1">「1ヶ月プラン」を購入済みの方へ</div>
  <p class="mb-3">期間が切れた時点で自動的に解約されます。追加の支払いは発生しません。</p>

  <div class="font-weight-bold mb-1">「3〜12ヶ月プラン」を購入済みの方へ</div>
  <p class="mb-3">期間が切れた時点で自動的に解約されます。さらに、「4月1日より前に購入済みで、5月1日時点で1ヶ月よりも多くの期間が残っている購入者」を対象に、残っている期間分の返金を行います。</p>

  <div class="font-weight-bold mb-1">「閲覧専用」「更新が止まる」の意味</div>
  <p class="mb-3">閲覧専用になると、フォロー・フォロワーのデータを新しく更新することやツイートの削除ができなくなります。過去に蓄積されたデータを見ることはできます。リムられ通知、ブロック通知、ミュート通知はデータ更新が止まった時点までのデータを見る専用になります。</p>
</div>
