- content_for :canonical_url do
  %link{href: profile_url(@user), rel: 'canonical'}

- breadcrumb :profile, @user.screen_name, @display_time

- page_title = t('.page_title', user: @user.screen_name, time: @display_time)
- title page_title
- set_meta_tags description: t('.meta_description', user: @user.screen_name, time: @display_time)

.text-center{style: 'max-width: 600px; margin: 0 auto;'}
  - url = latest_profile_path(screen_name: @user.screen_name, via: build_via('request_to_update_button'))
  = link_to t('.update', user: @user.screen_name), url, class: 'btn btn-primary btn-block btn-lg center-block'

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

.text-center{style: 'max-width: 600px; margin: 0 auto;'}
  - url = searches_path(screen_name: @user.screen_name, via: build_via('analyze_button'))
  = link_to t('.analyze', user: @user.screen_name), url, class: 'btn btn-primary btn-block btn-lg center-block', method: :post
  .vertical-spacing
  = render partial: 'twitter/profile', locals: {user: @user}

.vertical-spacing
