<h2 class="h5 text-center my-5">「リムり」「リムられ」とは？</h2>

<div class="m-3">
  <p>
    リムるとは <span class="egotter-pink">リムーブする</span> を省略した言葉です。
    ツイッターでは <span class="egotter-pink">フォローを解除する</span> ことを「リムーブする」や「リムる」と表現します。
  </p>

  <p>リムーブ は英語で書くと Remove となります。直訳すると「取り除く」や「削除する」という意味です。</p>

  <div class="text-center my-3">
    <%= image_tag '/images/unfriends_description_400.png', class: 'border mx-auto', width: '400', style: 'max-width: 100%;' %>
    <div class="text-muted small mt-1">フォローを解除することを「リムーブする」と言います。</div>
  </div>

  <p>フォローを解除すると、解除された人のツイートはもう見ることができません。</p>

  <p>「リムーブする」にはさらにいくつかのバリエーションがあります。</p>

  <table class="table">
    <tr>
      <td>リムる</td>
      <td>フォローを解除<span class="egotter-pink">する</span>こと</td>
    </tr>
    <tr>
      <td>リムられる</td>
      <td>フォローを解除<span class="egotter-pink">される</span>こと</td>
    </tr>
  </table>

  <p>自分が解除するのか、相手に解除されるのかによって、リムるとリムられるを使い分けることができます。</p>
</div>

<h2 class="h5 text-center my-5">「お別れはブロックで」とは？</h2>

<div class="m-3">
  <p>リムーブに関連する言葉として「お別れはブロックで」というものがあります。</p>

  <p>これは相手に対して「フォローを解除する場合は、<span class="egotter-pink">お互いにリムりましょう</span>」という意思表示をすることになります。</p>

  <p>相互フォローしている相手を自分だけフォロー解除すると、相手からの自分に対するフォローが残ったままになってしまいます。この状態を避けるために「お別れはブロックで」と宣言しておくわけです。</p>
</div>

<h2 class="h5 text-center my-5">「ブロ解」とは？</h2>

<div class="m-3">
  <p>「ブロ解」もリムーブと合わせてよく使われる単語です。</p>

  <p>これは「相手をブロックした後に、そのブロックを解除する」という意味です。</p>

  <p>相手の自分に対するフォローを解除させたい場合、相手をブロックすることになります。しかし、 ブロックしたままにしておくとプロフィールを見られたときに相手にブロックしたことがバレてしまいます。</p>

  <p>それを防ぐために、ブロックしたすぐ後にブロックを解除することがよく行われます。これが「ブロ解」です。</p>
</div>

<h2 class="h5 text-center my-5">「フォロセ」とは？</h2>

<div class="m-3">
  <p>「フォロセ」はフォロワー整理のことです。</p>

  <p>ツイッターでたくさんの人をフォローしていると、昔は見ていたけど今はあまり見たくない人、そもそもツイッターから消えた人、がたくさん出てきます。</p>

  <p>そういう人たちのフォローを解除することを「フォロセ」と言います。</p>

  <p>フォロセすることでツイッターを常に見やすい状態に保つことができます。</p>
</div>

<h2 class="h5 text-center my-5">フォローを外されたことを確認する方法</h2>

<div class="m-3">
  <p>相手からフォローを外されると、フォロワーの数が減ります。しかし、それだけでは誰からフォローを外されたのか分からずもやもやしてしまいます。</p>

  <p>いまご覧になっている <span class="egotter-pink">リムられチェック</span> を使うと、誰にフォローを外されたのかがすべて分かります。</p>

  <p>リムられチェックはえごったーというツイッター分析サービスが提供している機能です。</p>

  <p>えごったーは10年間以上使われ続けている安全なツイッター分析サービスです。</p>

  <p>えごったーなら乗っ取りにあうことなく、フォローを解除された人を見つけたり、その場で簡単にフォロー整理をすることができます。</p>
</div>

<div class="text-center my-5">
  <%= sign_in_with_twitter_link(unfriends_top_path(via: current_via('what_is_unfriends')), 'what_is_unfriends', class: 'btn btn-primary btn-lg') %>
</div>
