<%= modal_dialog id: 'end-trial-modal', title: t('.title'), button: {positive: t('.yes'), negative: t('.no')} do %>
  <p><%= t('.message_html') %></p>
<% end %>
<script>
  $(function () {
    var i18n = {processing: '<%= t('.processing_html') %>'};
    window.endTrialModal = new EndTrialModal('end-trial-modal', i18n);
  });
</script>
