<% ad_wrapper_id = "async-ad-#{SecureRandom.urlsafe_base64(10)}" %>

<%= modal_dialog(id: 'open-twitter-modal', title: t('.title_html'), button: {positive: t('.yes'), negative: t('.no')}) do %>
  <div style="max-width: 100%;"><%= render(partial: 'adsense/ad', locals: {vertical: :modal, wrapper_id: ad_wrapper_id}) %></div>
<% end %>

<script>
  $(function () {
    var adWrapperId = '<%= ad_wrapper_id %>';
    var $modal = $('#open-twitter-modal');

    function openTwitter(screenName) {
      window.open('https://twitter.com/' + screenName, '_blank');
    }

    $modal.on('show.bs.modal', function (e) {
      var $button = $(e.relatedTarget);
      var screenName = $button.data('screen-name');
      $modal.find('.modal-title .screen-name').text(screenName);
      $modal.find('button.positive').off('click').on('click', function () {
        openTwitter(screenName);
      });
    });

    $modal.on('shown.bs.modal', function (e) {
      $('#' + adWrapperId).trigger('appear');
    });
  });
</script>
