.media{style: 'border-bottom: 1px solid #e6e6e6; padding-bottom: 15px;'}
  .media-body{style: 'padding-right: 15px;'}
    %h4.media-heading{style: 'font-weight: bold; font-size: 14px;'}
    %span{style: 'font-size: 13px; color: #999999;'}= cluster