<h2 class="h5 text-center my-5">クラスタ分析とは？</h2>

<div class="m-3">
  <p>ツイッターのプロフィール、ツイート、フォロー関係から「入っているグループ」を見つける機能です。</p>

  <p>例えば、あなたが高校生でイラストをよく投稿してゲーム実況をよく見るなら、入っているクラスタは「高校生クラスタ」「お絵描きクラスタ」「ゲーム実況クラスタ」になるはずです。</p>

  <p>えごったーのクラスタ分析では、フォローとフォロワーの関係からクラスタを見つけます。そのため、全くツイートしていない意外性のあるクラスタを見つけることもできます。</p>
</div>

<div class="text-center m-3">
  <%= image_tag '/images/ss_clusters_400.png', class: 'border', width: '200', loading: 'lazy' %>
  <div class="text-muted small mt-1">クラスタ分析の例</div>
</div>

<hr>
