<h3 class="h4 text-center my-5">個別の依頼 または 有償サポート</h3>
<div class="my-3">大規模なデータ収集依頼や調査が必要な問い合わせはこちらの価格にてお引き受けいたします。</div>

<h4 class="h5 mb-3">
  <strong>3万円<span class="small">/時</span></strong>
</h4>

<div class="mb-3">
  <div>作業例：</div>
  <ul>
    <li>数百万から数千万人以上のユーザーデータ収集</li>
    <li>複雑な条件指定でのツイート収集・削除</li>
    <li>調査が必要なお問い合わせ</li>
  </ul>
</div>

<div class="mb-1">納期：応相談</div>
<div class="mb-3">支払い方法：銀行振り込み</div>

<div class="my-3">
  <%= link_to 'お問い合わせ', custom_support_form_url, class: 'btn btn-primary btn-lg', target: '_blank' %>
</div>

<div class="small text-muted my-4">
  ※ 依頼から納品までは最短でも5営業日ほど必要です。検討中の場合はお早めにご連絡ください。
</div>
