<h3 class="h4 text-center my-5">えごったーへの広告出稿</h3>
<div class="my-3">えごったーWebサイトの広告枠に広告を掲載することができます。</div>

<h4 class="h5 mb-3">
  <strong>1万円<span class="small">/日</span></strong>
  <span class="text-muted small">または</span>
  <strong>3千円<span class="small">/時</span></strong>
</h4>

<div class="mb-3">
  <div>広告掲載の例：</div>
  <ul>
    <li>ツイッターに限定した商品アピールをしたい</li>
    <li>相互フォローを募集したい</li>
    <li>純粋にえごったーの応援</li>
  </ul>
</div>

<div class="mb-3">
  <div>広告掲載イメージ：</div>
  <%= image_tag '/images/ad_format.png', width: '200' %>
</div>

<div class="mb-1">掲載日：応相談</div>
<div class="mb-3">支払い方法：銀行振り込み</div>

<div class="my-3">
  <%= link_to 'お問い合わせ', egotter_ads_form_url, class: 'btn btn-primary btn-lg', target: '_blank' %>
</div>

<div class="small text-muted my-4">
  ※ 依頼から掲載開始までは最短でも3営業日ほど必要です。検討中の場合はお早めにご連絡ください。
</div>
