こんにちは @<%= screen_name %> さん、えごったーです。<br>
長い間アクセスがないため、@<%= screen_name %> さんのリムられ通知は現在止まっています。<br>
リムられ通知を再開する場合は、下記のリンクからえごったーにアクセスしてみてください(^ ^)<br>
<a href="<%= url %>">@<%= screen_name %> さんの結果ページ</a>