- content_for :canonical_url do
  %link{href: status_url(@twitter_user), rel: 'canonical'}

- content_for :navbar_title, @navbar_title

- breadcrumb :status, @twitter_user.screen_name

- page_title = current_page_title(@twitter_user)
- title page_title
- set_meta_tags description: current_meta_description(@twitter_user)

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h2.text-center.my-5= page_title

#statuses.twitter.tweets.mx-auto
  - if @twitter_user.protected_account?
    = render(partial: 'twitter/tweet', collection: @statuses, cached: true, formats: %i(html))
  - else
    = render(partial: 'twitter/oembed_tweet', collection: @statuses, as: :tweet, cached: true, formats: %i(html))
