<div class="m-3">
  <% if @channel %>
    <h2>#<%= @channel %></h2>
  <% end %>

  <% @slack_messages_groups.each do |date, slack_messages| %>
    <div class="font-weight-bold"><%= date %></div>
    <table class="table-hover">
      <%= render slack_messages %>
    </table>
  <% end %>
</div>

