<h2 class="h5 text-center my-5">フォローチェックとは？</h2>

<div class="m-3">
  <p>ツイッターの片思いフォローを見つけたり、様々な条件でユーザーを検索するえごったーの機能です。</p>

  <p>例えば、2週間以内にツイートした、インスタのアカウントがある、という条件を指定してユーザーを検索できます。</p>

  <p>他にも、フォローを外した・外されたユーザーの管理をすることもできます。</p>
</div>

<div class="text-center m-3">
  <%= image_tag '/images/ss_summary_400.png', class: 'border', width: '200', loading: 'lazy' %>
  <div class="text-muted small mt-1">フォローチェックの例</div>
</div>

<hr>
