- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name

- title @page_title
- set_meta_tags description: @meta_description, title: @meta_title

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h2.page-title= @page_title

.page-description.text-center= @page_description

.row.twitter.users
  = render partial: 'twitter/grid_user', collection: @collection, as: :user