- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name
- title @page_title
- set_meta_tags description: @meta_description

= render partial: 'twitter/profile', locals: {user: @twitter_user}
.vertical-spacing

%h2.h2.page-title= @content_title
.vertical-spacing
.vertical-spacing

.page-description.text-center= @page_description
.vertical-spacing

.row.twitter.users
  = render partial: 'twitter/user', collection: @collection, cached: true, locals: {grid_class: 'col-xs-12 col-sm-6', ad: false}
.vertical-spacing

:javascript
  $(function () {
    Twitter.enableFollowButton('.twitter.users');
    Twitter.enableUnfollowButton('.twitter.users');
  });
