%div.directory-profiles
  %h2= t('.title')
  %table.table.table-condensed.table-responsive.borderless
    - @screen_names.each_slice(3) do |n1, n2, n3|
      %tr
        %td= link_to n1, timeline_path(screen_name: n1, via: 'directory_profiles')
        %td= link_to n2, timeline_path(screen_name: n2, via: 'directory_profiles') unless n2.nil?
        %td= link_to n3, timeline_path(screen_name: n3, via: 'directory_profiles') unless n3.nil?
