.directory-profiles
  %h2.text-center= t('.title')
  %table.table.table-condensed.table-responsive.borderless
    - @screen_names.each_slice(3) do |n1, n2, n3|
      %tr
        %td= link_to n1, profile_path(screen_name: n1, via: 'directory_profiles'), title: t('profiles.show.page_title', user: n1)
        %td= link_to n2, profile_path(screen_name: n2, via: 'directory_profiles'), title: t('profiles.show.page_title', user: n2) unless n2.nil?
        %td= link_to n3, profile_path(screen_name: n3, via: 'directory_profiles'), title: t('profiles.show.page_title', user: n3) unless n3.nil?
