<h2 class="h5 text-center my-5">片思いチェックとは？</h2>

<div class="m-3">
  <p>ツイッターの「片思い」とは、「フォローだけ」または「フォロワーだけ」の関係のことです。</p>

  <p>片思いチェックでは、片思いフォロー・フォロワーになっているユーザーを一括で見つけることができます。</p>

  <p>例えば、あなたがある芸能人をフォローしていてその芸能人があなたをフォローしていない場合、その関係は「片思いフォロー」になります。</p>

  <p>他にも、フォローを外した・外されたユーザーの管理をすることもできます。</p>
</div>

<div class="text-center m-3">
  <%= image_tag '/images/ss_summary_400.png', class: 'border', width: '200', loading: 'lazy' %>
  <div class="text-muted small mt-1">片思いチェックの例</div>
</div>

<hr>
