.scores-gauge{style: 'height: 140px; margin: 0 auto; margin-top: -15px;'}

:javascript
  $(function () {
    var gaugeChart = $.extend(true, {}, window.gaugeOptions);
    gaugeChart.series[0].data = [#{(score.to_f * 10000).round}];
    $('.scores-gauge').highcharts(gaugeChart);
  });