<h2 class="h5 text-center my-5">仲良しランキングとは？</h2>

<div class="m-3">
  <p>ツイッターであなたと仲良しのユーザーを見つけるえごったーの機能です。</p>

  <p>仲良しのランキングの分析には、リプライした・リプライされた・いいねを使っています。</p>

  <p>えごったーの仲良しランキングでは、見つかった仲良しの友達をハートの形で表示します。</p>
</div>

<div class="text-center m-3">
  <%= image_tag '/images/ss_close_friends_400.png', class: 'border', width: '200', loading: 'lazy' %>
  <div class="text-muted small mt-1">仲良しランキングの例</div>
</div>

<hr>
