.placeholders-wrapper
  - 3.times do
    = render partial: 'timelines/placeholder', locals: {menu_name: ''}

.users-wrapper{style: 'margin-bottom: 15px;'}
  .main-content.twitter.users

.see-more-btn-wrapper{class: 'text-center', style: 'margin-bottom: 15px;'}
  = link_to t('dictionary.see_more'), '#', data: {max_sequence: 0, limit: 3}, style: 'display: none;', onclick: 'return false;', class: 'see-more-btn btn btn-default btn-lg'

:javascript
  $(function () {
    var uid = '#{twitter_user.uid}';
    var url = '#{api_path}';
    var $btn = $('.see-more-btn');
    var $placeholders = $('.placeholders-wrapper');
    var $usersContainer = $('.main-content.twitter.users');


    $btn.on('click', function (e) {
      var max_sequence = $(this).data('max-sequence');
      var limit = $(this).data('limit');
      $.getJSON(url, {uid: uid, html: 1, limit: limit, max_sequence: max_sequence}).done(function (res) {
        console.log(res);

        $btn.show();
        if (res.max_sequence && res.max_sequence >= 0) {
          $btn.data('max-sequence', res.max_sequence + 1);
          $btn.data('limit', 10);
        } else {
          $btn.remove();
        }
        $placeholders.remove();
        $usersContainer.append(res.users);
      });
    });

    $btn.trigger('click');
  });

