<% title t('.meta_title') %>
<% set_meta_tags description: t('.meta_description') %>
<% right_side_options = {header: t('.right_side.header'), subheader: t('.right_side.subheader'), lead: t('.right_side.lead_html'), redirect_path: close_friend_path(screen_name: ':screen_name', via: current_via), show_screenshots: false} %>
<%= render partial: 'shared/side_by_side_section', locals: {right_side: right_side_options} %>

<%= render partial: 'shared/close_friends_tweets_section' %>

<div class="container"><%= render partial: 'faq' %></div>

<% if show_redirection_modal? %>
  <%= render partial: 'modal/redirection_modal', locals: {title: t('.redirection_modal.title', user: current_user.screen_name), body: t('.redirection_modal.body', user: current_user.screen_name), url: close_friend_path(current_user)} %>
<% end %>
