- template_name = tweets_or_users[0].is_a?(TwitterDB::User) ? 'twitter/user' : 'twitter/tweet'
= render(partial: template_name, collection: tweets_or_users, cached: true, locals: {uids: []}, formats: %i(html))

- unless tweets_or_users.last_page?
  .loading-image.relationships.see-more.text-center{data: {type: type, next_page: tweets_or_users.next_page}}= image_tag '/ajax-loader.gif'
  :javascript
    $(function () {
      var url = "#{relationship_path(src_screen_name: twitter_users[0].screen_name, dst_screen_name: twitter_users[1].screen_name, type: 'TYPE', page: 'NEXT_PAGE', format: :json)}";

      $('.loading-image.see-more')
        .lazyload()
        .one('appear', function () {
          var $tag = $(this);
          if (!$tag.data('appeared')) {
            $tag.data('appeared', true);

            $.get(url.replace('TYPE', $tag.data('type')).replace('NEXT_PAGE', $tag.data('next-page')))
              .done(function (res) {
                $tag.parent().append(res.html);
                $tag.remove();
              });
          }
        });
    });
