.notification-item
  .media
    - if twitter_user
      .media-left
        %img.media-object.img-rounded{alt: twitter_user.screen_name, src: normal_icon_url(twitter_user)}
    .media-body
      %h4.media-heading
        = "#{mention_name(current_user.screen_name)} - #{time_ago_in_words(notification.created_at)}"
      %span.text
        = notification.message.html_safe