<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="duration" value="past_30_days" checked> past_30_days
  </label>
  <label class="btn btn-default">
    <input type="radio" name="duration" value="past_90_days"> past_90_days
  </label>
</div>