<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="duration" value="past_14_days" checked> Past 14 days
  </label>
  <label class="btn btn-default">
    <input type="radio" name="duration" value="past_30_days"> Past 30 days
  </label>
  <label class="btn btn-default">
    <input type="radio" name="duration" value="past_90_days"> Past 90 days
  </label>
</div>