<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default">
    <input type="radio" name="frequency" value="hourly"> Hourly
  </label>
  <label class="btn btn-default active">
    <input type="radio" name="frequency" value="daily" checked> Daily
  </label>
  <label class="btn btn-default">
    <input type="radio" name="frequency" value="weekly"> Weekly
  </label>
  <label class="btn btn-default">
    <input type="radio" name="frequency" value="monthly"> Monthly
  </label>
</div>