<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="time_zone" value="utc" checked> UTC
  </label>
  <label class="btn btn-default">
    <input type="radio" name="time_zone" value="jst"> JST
  </label>
</div>