<%= render partial: 'clock', locals: {date_start: @date_start, date_end: @date_end} %>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="id_type" value="session_id" checked> session_id
  </label>
  <label class="btn btn-default">
    <input type="radio" name="id_type" value="user_id"> user_id
  </label>
  <label class="btn btn-default">
    <input type="radio" name="id_type" value="uid"> uid
  </label>
</div>

<div class="loading"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div class="kpis rr number" style="height: 600px;"></div>
<div class="kpis rr percentage" style="height: 600px;"></div>

<script>
  var config = {
    credits: {
      enabled: false
    },
    chart: {
      type: 'heatmap',
      plotBorderWidth: 1
    },
    title: {
      text: 'title'
    },
    xAxis: {
      categories: null
    },
    yAxis: {
      title: null,
      categories: null
    },
    colorAxis: {
      min: 0,
      minColor: '#FFFFFF',
      maxColor: "#7cb5ec" // Highcharts.getOptions().colors[0]
    },
    series: [{
      name: 'total',
      borderWidth: 1,
      data: null,
      dataLabels: {
        enabled: true,
        color: '#000000'
      }
    }]
  };

  var loading = $('.loading');
  var chart = {
    number: $('.kpis.rr.number'),
    percentage: $('.kpis.rr.percentage')
  };

  function draw(xAxis_categories, yAxis_categories, cells, title, chart) {
    var conf = $.extend(true, {}, config);
    conf.title.text = title;
    conf.xAxis.categories = xAxis_categories;
    conf.yAxis.categories = yAxis_categories;
    conf.series[0].data = cells;
    loading.hide();
    chart.empty().highcharts(conf);
  }

  function fetch(format) {
    var results = {};
    var date_indices = [[0, 1], [2, 3], [4, 5], [6, 7], [8, 9]];
    var date_index_max = 9;
    var url = '<%= rr_path %>';
    var params = $.map(date_indices, function (range, i) {
      return {
        id_type: $('input[name=id_type]:checked').val(),
        date_start_index: range[0],
        date_end_index: range[1],
        date_index_max: date_index_max,
        sequence_number: i,
        format: format
      }
    });

    function failed(xhr) {
      console.log(xhr.responseText);
      loading.hide();
      chart[format].empty().text('error');
    }

    function done(res) {
      results[res.sequence_number] = res;
      draw(res.xAxis_categories, res.yAxis_categories, all_cells(), res.title, chart[format]);
      return $.get(url, params[res.sequence_number + 1])
    }

    function all_cells() {
      var cells = [];
      for (var key in results) {
        cells = cells.concat(results[key].cells);
      }
      return cells
    }

    $.get(url, params[0])
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .done(function (res) {
          results[res.sequence_number] = res;
          console.log(results);
          draw(res.xAxis_categories, res.yAxis_categories, all_cells(), res.title, chart[format]);
        })
        .fail(failed);
  }

  function reload() {
    loading.show();
    $.each(['number', 'percentage'], function (i, format) {
      chart[format].empty();
      fetch(format);
    });
  }

  $('input[name=id_type]:radio').on('change', reload);

  $(function () {
    reload();
  });
</script>
