.top-page .lead-001,
.top-page .lead-002,
.top-page .lead-003,
.top-page .lead-004,
.top-page .description {
  margin-bottom: 15px;
}

.top-page .screenshot {
  margin-top: 15px;
}

.top-page .screenshot .col-xs-12 {
  margin-bottom: 15px;
}

.top-page .submit-btn2 {
  margin-top: 0;
}

.top-page .egotter-timeline {
  text-align: center;
}

.top-page .egotter-features .feature-description {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
}

.top-page hr {
  margin-top: 15px;
  margin-bottom: 15px;
}