.profile-overview-container {
  .profile-overview-overlay {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .icon-link {
    display: inline-block;

    img {
      margin-top: 15px;
      border: 4px solid #ffffff;
      border-radius: 3px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    }
  }

  .glyphicon.glyphicon-lock {
    color: #ffffff;
  }

  .glyphicon.glyphicon-ok {
    color: #5cb85c;
  }

  .name,
  .twitter-link {
    margin-top: 10px;

    a {
      font-size: medium;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .twitter-link,
  .calendar {
    padding-bottom: 10px;
  }

  .location,
  .calendar {
    color: #ffffff;
    margin: 5px 5px auto 5px;
  }

  .description-container {
    color: #777777;
    padding: 10px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}

.profile-counts-container {
  margin-left: 15px;
  margin-right: 15px;

  a {
    text-decoration: none;
    color: #777777;
  }

  .row {
    padding: 0 5px 0 5px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

  .count {
    font-weight: bold;
    display: block;
  }

  .tweets,
  .friends,
  .followers {
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .friends {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }
}