.usage-time-chart,
.wday-chart,
.hour-chart,
.hashtags-chart,
.cloud-chart,
.usage-stats .chart {
  height: 180px;
  margin: 0 auto 15px auto;
}

.friends-stat-wrapper .row .name,
.tweets-stat-wrapper .row .name {
  font-size: x-small;
}

.friends-stat-wrapper button,
.tweets-stat-wrapper button {
  margin-bottom: 15px;
  margin-right: 5px;
}