<%= raw AppStat.new.to_s.gsub("\n", '<br>') %>

<div id="users-chart" class="my-5"></div>

<script>
  $(function () {
    var data = <%= raw @chart_data.to_json %>;
    var series = [{name: 'Previous users', data: data[0]}, {name: 'Current users', data: data[1]}];
    new AudienceInsight().drawChart($('#users-chart')[0], series);
  });
</script>
