<%= raw AppStat.new.to_s.gsub("\n", '<br>') %>

<div id="users-chart" class="my-5" style="width: 100%; max-height: 200px;"></div>

<script>
  $(function () {
    var data = <%= raw @chart_data.to_json %>;
    var series = [{data: data[0], color: '#0000ff'}, {data: data[1], color: '#cccccc'}];
    new AudienceInsight().drawChart($('#users-chart')[0], series, {legend: {enabled: false}});
  });
</script>
