<% title '0 0 0' %>

<div class="mt-3">
  Total <span id="total-count">0</span>
  Mobile <span id="mobile-count">0</span>
  Desktop <span id="desktop-count">0</span>
</div>

<script>
  function updateView() {
    var url = '<%= raw api_v1_access_stats_path(key: ENV['STATS_API_KEY']) %>';
    $.get(url, function (res) {
      console.log(res);
      $('#total-count').text(res['total']);
      $('#mobile-count').text(res['mobile']);
      $('#desktop-count').text(res['desktop']);
      $('title').text(res['total'] + ' ' + res['mobile'] + ' ' + res['desktop']);
    });
  }

  $(function () {
    updateView();
    setInterval(updateView, 10 * 1000);
  });
</script>

<div class="mt-3">DirectMessageSentFlag <span id="sent_users"></span></div>
<div>DirectMessageReceivedFlag <span id="received_users"></span></div>
<div>
  SendDirectMessageCount <span id="sent_messages_total"></span>
  active <span id="sent_messages_active"></span>
  passive <span id="sent_messages_passive"></span>
</div>
<div>
  SendDirectMessageFromEgotterCount <span id="sent_messages_from_egotter_total"></span>
  active <span id="sent_messages_from_egotter_active"></span>
  passive <span id="sent_messages_from_egotter_passive"></span>
</div>

<div class="mt-3">
  Base
  used=<span id="redis_base_used_memory_rss_human"></span>
  peak=<span id="redis_base_used_memory_peak_human"></span>
  total=<span id="redis_base_total_system_memory_human"></span>
</div>
<div>
  InMemory
  used=<span id="redis_in_memory_used_memory_rss_human"></span>
  peak=<span id="redis_in_memory_used_memory_peak_human"></span>
  total=<span id="redis_in_memory_total_system_memory_human"></span>
</div>
<div>
  ApiCache
  used=<span id="redis_api_cache_used_memory_rss_human"></span>
  peak=<span id="redis_api_cache_used_memory_peak_human"></span>
  total=<span id="redis_api_cache_total_system_memory_human"></span>
</div>

<div class="mt-3">WelcomeMessage <span id="welcome_messages"></span> (<span id="welcome_messages_previous_period"></span>)</div>
<div>PeriodicReport <span id="periodic_reports"></span> (<span id="periodic_reports_previous_period"></span>)</div>
<div>BlockReport <span id="block_reports"></span> (<span id="block_reports_previous_period"></span>)</div>
<div>MuteReport <span id="mute_reports"></span> (<span id="mute_reports_previous_period"></span>)</div>
<div>SearchReport <span id="search_reports"></span> (<span id="search_reports_previous_period"></span>)</div>

<div class="mt-3">user_timeline <span id="user_timeline"></span></div>
<div>follow <span id="follow"></span> (400 per user; 1000 per app)</div>
<div>unfollow <span id="unfollow"></span> (800 - 900 per day)</div>
<div>personality_insight <span id="personality_insight"></span> limit <%= PersonalityInsight::LIMIT %></div>

<script>
  function updateCount(key) {
    var url = '<%= raw api_v1_app_stats_path(key: 'KEY') %>';
    $.get(url.replace('KEY', key)).done(function (res) {
      $('#' + key).text(res.count);
    });
  }

  $(function () {
    updateCount('sent_users');
    updateCount('received_users');
    updateCount('sent_messages_total');
    updateCount('sent_messages_active');
    updateCount('sent_messages_passive');
    updateCount('sent_messages_from_egotter_total');
    updateCount('sent_messages_from_egotter_active');
    updateCount('sent_messages_from_egotter_passive');
    updateCount('redis_base_used_memory_rss_human');
    updateCount('redis_base_used_memory_peak_human');
    updateCount('redis_base_total_system_memory_human');
    updateCount('redis_in_memory_used_memory_rss_human');
    updateCount('redis_in_memory_used_memory_peak_human');
    updateCount('redis_in_memory_total_system_memory_human');
    updateCount('redis_api_cache_used_memory_rss_human');
    updateCount('redis_api_cache_used_memory_peak_human');
    updateCount('redis_api_cache_total_system_memory_human');
    updateCount('welcome_messages');
    updateCount('welcome_messages_previous_period');
    updateCount('periodic_reports');
    updateCount('periodic_reports_previous_period');
    updateCount('block_reports');
    updateCount('block_reports_previous_period');
    updateCount('mute_reports');
    updateCount('mute_reports_previous_period');
    updateCount('search_reports');
    updateCount('search_reports_previous_period');
    updateCount('user_timeline');
    updateCount('follow');
    updateCount('unfollow');
    updateCount('personality_insight');
  });
</script>

<div id="day-chart" class="my-5" style="height: 100px;"></div>
<div id="week-chart" class="my-5" style="height: 100px;"></div>
<div id="month-chart" class="my-5" style="height: 100px;"></div>

<script>
  function drawChart(id, data) {
    var series = [{data: data['series'][0], color: '#cccccc'}, {data: data['series'][1], color: '#0000ff'}];
    var config = {
      chart: {
        renderTo: $('#' + id)[0],
        marginLeft: 40,
        marginRight: 40
      },
      title: null,
      series: series,
      xAxis: {
        gridLineWidth: 0.5,
        labels: {
          style: {
            whiteSpace: 'nowrap'
          },
          rotation: 0,
          step: 1,
          formatter: function () {
            if (this.isFirst || this.isLast) {
              // return Highcharts.dateFormat('%H:%M', new Date(this.value));
              return data['categories'][this.pos];
            } else {
              return '';
            }
          }
        },
        tickLength: 0,
        tickAmount: data['categories'].length,
        min: 0,
        max: data['categories'].length - 1
      },
      yAxis: {
        title: {
          text: null
        },
        gridLineWidth: 0
      },
      legend: {enabled: false},
      plotOptions: {
        series: {
          lineWidth: 1,
          marker: {
            enabled: false
          }
        }
      },
      exporting: false,
      credits: false
    }
    Highcharts.chart(config);
  }

  $(function () {
    var chartData = <%= raw @chart_data.to_json %>;
    Object.keys(chartData).forEach(function (period) {
      var data = chartData[period];
      var id = period + '-chart';
      if (data.error) {
        $('#' + id).text(data.error);
      } else {
        drawChart(id, data);
      }
    });
  });
</script>
