<div id="search-histories<%= '-in-modal' if @in_modal %>">
  <% rendered_uids = [] %>
  <%= render(partial: 'search_histories/search_history', collection: @search_histories, cached: true, locals: {uids: rendered_uids, in_modal: @in_modal}) %>
</div>

<script>
  $(function () {
    <% unless @in_modal %>
      enableSlickOnSearchHistory('#search-histories');
    <% end %>
  });
</script>