<h2 class="h4 text-center mx-3 my-5"><%= t('shared.announcement.title') %></h2>

<div id="announcements-container" class="d-flex" style="overflow-x: scroll;">
  <%= image_tag '/ajax-loader.gif' %>
</div>

<script>
  $(function () {
    var url = '<%= raw api_v1_announcements_list_path(via: current_via) %>';
    new Announcements(url, 'announcements-container', function () {
      trackPageEvents('TopPage events', 'Announcements loaded');
    });
  });
</script>
