<div id="announcements-container" style="min-height: 100px;"></div>

<script>
  $(function () {
    var url = '<%= raw api_v1_announcements_list_path(via: current_via) %>';
    new Announcements(url, 'announcements-container', function () {
      ga('send', {
        hitType: 'event',
        eventCategory: 'Announcements',
        eventAction: 'loaded',
        eventLabel: 'Announcements loaded'
      });
    });
  });
</script>
