<% Announcement.list.each do |record| %>
  <div>
    <div class="card card-body m-3" style="width: 200px;">
      <div><%= record.date %></div>
      <div><%= record.message %></div>
    </div>
  </div>
<% end %>
