<div id="announcements-container" style="min-height: 200px;"></div>

<script>
  $(function () {
    var url = '<%= raw api_v1_announcements_list_path(via: current_via) %>';
    new Announcements(url, 'announcements-container', function () {
      trackPageEvents('TopPage events', 'Announcements loaded');
    });
  });
</script>
