<div id="features-container" style="min-height: 100px;"></div>

<script>
  $(function () {
    var url = '<%= raw api_v1_features_list_path(via: current_via) %>';
    new Features(url, 'features-container');
  });
</script>
