<div id="features-container" style="min-height: 200px;"></div>

<script>
  $(function () {
    var url = '<%= raw api_v1_features_list_path(via: current_via) %>';
    new Features(url, 'features-container', function () {
      trackPageEvents('TopPage events', 'Features loaded');
    });
  });
</script>
