<h2 class="h4 text-center mx-3 my-5"><%= t('.title') %></h2>
<p class="text-center m-3"><%= t('.text_html') %></p>

<div id="functions-container" class="d-flex" style="overflow-x: scroll;">
  <%= image_tag '/ajax-loader.gif' %>
</div>

<% if divider %>
  <hr>
<% end %>

<script>
  $(function () {
    var url = '<%= raw api_v1_functions_list_path(via: current_via) %>';
    new Functions(url, 'functions-container', function () {
      trackPageEvents('TopPage events', 'Functions loaded');
    });
  });
</script>
