<div id="functions-container" style="min-height: 100px;"></div>

<script>
  $(function () {
    var url = '<%= raw api_v1_functions_list_path(via: current_via) %>';
    new Functions(url, 'functions-container');
  });
</script>
