<div class="card">
  <div class="card-body small">
    <%= current_page_description(twitter_user, tag_id: 'hidden-page-description') %>
  </div>
</div>

<script>
  $(function () {
    var crawler =<%= from_crawler? %>;
    if (crawler) {
      $('#hidden-page-description').show();
    }
  });
</script>
