<div class="profile-on-timeline">
  <% if expanded %>
    <div class="mb-3"><%= t('.loading_html', user: twitter_user.screen_name) %></div>
    <%= render partial: 'timelines/placeholder', locals: {menu_name: '', menu_or_users: 'users'} %>
  <% end %>
</div>

<script>
  $(function () {
    var url = '<%= raw api_v1_profiles_path(uid: twitter_user.uid, expanded: expanded, via: current_via('profile_on_timeline')) %>';
    var errorMessage = '<%= t('.loading_error_html', user: twitter_user.screen_name) %>';
    new ProfileLoader(url, '.profile-on-timeline', errorMessage);
  });
</script>
