#review-section.text-center
  = render partial: 'shared/review_stars'
  %h2#review-title.h4= t('shared.review.title')
  .vertical-spacing
  .vertical-spacing
  .description= t('shared.review.description_html')
  .vertical-spacing
  #public-tweets-wrapper.twitter.tweets.center-block
:javascript
  $(function () {
    Home.setPublicTweets('#{load_public_tweets_path}', '#public-tweets-wrapper');
  });
