.text-center.mt-5
  %h2.h4.my-5= t('shared.review.title')
  .mb-5= render partial: 'shared/review_stars'
  .mb-5= t('shared.review.description_html')
  #public-tweets-wrapper.twitter.tweets.text-left.mx-auto
:javascript
  $(function () {
    Home.setPublicTweets('#{load_public_tweets_path}', '#public-tweets-wrapper');
  });
