.container.text-center.mt-5
  %h2.h4.my-5= t('.title')
  .mb-5= render partial: 'shared/review_stars'
  .mb-5= t('.description_html')
  #public-tweets-wrapper.twitter.tweets.text-left.mx-auto
:javascript
  $(function () {
    var url = '#{load_public_tweets_path}';
    var selector = '#public-tweets-wrapper';
    new PublicTweets(url, selector);
  });
