.sort-order-container.btn-group{role: "group"}
  %button.sort-order-dropdown.btn.btn-outline-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
    = SortOrder::VALUES[0][0]
  .dropdown-menu
    - SortOrder::VALUES.each.with_index do |(label, value), i|
      %a.sort-orders.dropdown-item{href: "#", class: (i == 0 ? 'active' : ''), data: {sort_order: value}}
        = label

.filter-container.btn-group{role: "group"}
  %button.filter-dropdown.btn.btn-outline-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
    = t('filter.title')
    %span.filter-count
  .dropdown-menu
    - Filter::VALUES.each do |label, value|
      %a.filters.dropdown-item{href: "#", data: {filter: value}}
        = label
