<script id='user-template' type='x-tmpl-mustache'>
  <div class="m-1">
    <a href="{{timeline_url}}" width='48' height='48'>
      <img alt='@{{screen_name}}' class='rounded shadow' width='48' height='48'>
    </a>
  </div>
</script>

<script id='user-rectangle-template' type='x-tmpl-mustache'>
  <div class="card mb-3">
    <div class="d-flex align-items-center">
      <div class="m-1">
        <a href="{{timeline_url}}">
          <img class="rounded-circle" style="width: 50px; height: 50px;" alt="@{{screen_name}}" src="{{profile_image_url}}">
        </a>
      </div>
      <div>
        <h6 class="mt-1 mr-1">
          <a href="{{timeline_url}}">@{{screen_name}}</a>
          {{{name_with_icon}}} {{{status_labels}}}
        </h6>
      </div>
    </div>

    <div class="mx-1 mb-3">{{{followed_label}}}</div>
    <div class="card-text small mx-1 mb-3">{{{description}}}</div>

    <div class="card-text small mx-1 mb-3">
      <a href="{{status_url}}">
        <strong class="text-body">{{statuses_count}}</strong>
        <span class="text-muted"><%= t('.statuses') %></span>
      </a>
      <a href="{{friend_url}}">
        <strong class="text-body">{{friends_count}}</strong>
        <span class="text-muted"><%= t('.friends') %></span>
      </a>
      <a href="{{follower_url}}">
        <strong class="text-body">{{followers_count}}</strong>
        <span class="text-muted"><%= t('.followers') %></span>
      </a>
    </div>

    <div class="d-flex justify-content-between align-items-end">
      <div class="small text-muted ml-1 mb-1">{{index}}</div>

      <div class="text-right">
        {{{follow_button}}}

        <a href="{{timeline_url}}">
          <button class="btn btn-primary btn-sm" type="button">
            <i class="fas fa-search"></i>
            <%= t('.search') %>
          </button>
        </a>
      </div>
    </div>
  </div>
</script>

<script id='toast-template' type='x-tmpl-mustache'>
  <div id="{{id}}" class="toast" style="min-width: 300px; min-height: 100px;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto">{{title}}</strong>
      <small>{{time}}</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">{{{body}}}</div>
  </div>
</script>

<script>
  $(function () {
    var templates = {
      user: $('#user-template').html(),
      userRectangle: $('#user-rectangle-template').html(),
      toast: $('#toast-template').html()
    };

    window.templates = templates;
  });
</script>
