<div class="m-3">
  <blockquote class="twitter-tweet" align="center">
    <span class="text-left"><%= render partial: 'twitter/tweet', locals: {tweet: tweet, margin_class: ''} %></span>
    <div class="text-left small"><%= tweet_link(tweet) %></div>
  </blockquote>
</div>
