.oembed-tweet{class: "tweet-#{tweet.tweet_id}"}

:javascript
  $(function () {
    var url = '#{oembed_status_path(screen_name: tweet.user.screen_name, status_id: tweet.tweet_id)}';
    var selector = '.oembed-tweet.tweet-#{tweet.tweet_id}';
    $.getJSON(url, function (data) {
      $(selector).html(data.html);
    });
   });
