%a.twitter-button{href: intent_url(text), onclick: "window.open(this.href, 'TwitterWindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"}
  %i.fab.fa-twitter
  %br
  %span.share-text Twitter