<div class="tgl-btns">
  <div class="table-cell-left">
    <% val = current_user.notification_setting.send("#{name}?") %>
    <%= check_box_tag name, true, val, {id: "#{name}-input", class: 'tgl tgl-ios', data: {checked: val}} %>
    <label class='tgl-btn' for="<%= name %>-input"></label>
  </div>
  <div class="table-cell-right"><%= t(".desc.#{name}") %></div>
</div>

<% if name_counter <= 2 %>
  <hr>
<% end %>
