<div class="menu">
  <h2 class="h4 text-center"><%= t('.notifications_title', user: current_user.mention_name) %></h2>
  <%= render partial: 'tgl_btn', collection: %i(email dm news search), as: :name, cached: true %>
  <script>
    $(function () {
      var url = '<%= setting_path %>';
      attach_event_handler('email', url);
      attach_event_handler('dm', url);
      attach_event_handler('news', url);
      attach_event_handler('search', url);
    });
  </script>
</div>
