<span data-toggle="modal" data-target=".profile-overview-modal.<%= user.uid %>">
  <img src="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
</span>

<% rendered_users << user %>