<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="id_type" value="session_id" checked> session_id
  </label>
  <label class="btn btn-default">
    <input type="radio" name="id_type" value="user_id"> user_id
  </label>
  <label class="btn btn-default">
    <input type="radio" name="id_type" value="uid"> uid
  </label>
</div>

<div class="loading"><%= image_tag '/ajax-loader.gif' %></div>
<div class="kpis rr number" style="height: 600px;"></div>
<div class="kpis rr percentage" style="height: 600px;"></div>

<script>
  var config = {
    credits: {
      enabled: false
    },
    chart: {
      type: 'heatmap',
      plotBorderWidth: 1
    },
    title: {
      text: 'title'
    },
    xAxis: {
      categories: null
    },
    yAxis: {
      title: null,
      categories: null
    },
    colorAxis: {
      min: 0,
      minColor: '#FFFFFF',
      maxColor: "#7cb5ec" // Highcharts.getOptions().colors[0]
    },
    series: [{
      name: 'total',
      borderWidth: 1,
      data: null,
      dataLabels: {
        enabled: true,
        color: '#000000'
      }
    }]
  };

  var loading = $('.loading');
  var chart = {
    number: $('.kpis.rr.number'),
    percentage: $('.kpis.rr.percentage')
  };
  var result = {
    number: {},
    percentage: {}
  };
  var url = '<%= kpis_rr_path %>';

  function draw_rr(xAxis_categories, yAxis_categories, cells, title, format) {
    var conf = $.extend(true, {}, config);
    conf.title.text = title;
    conf.xAxis.categories = xAxis_categories;
    conf.yAxis.categories = yAxis_categories;
    conf.series[0].data = cells;
    loading.hide();
    chart[format].empty().highcharts(conf);
  }

  function fetch_rr(format) {
    result = {number: {}, percentage: {}};
    var date_indices = [[0, 2], [3, 5], [6, 7], [8, 9]];
    var date_index_max = 9;

    $.each(date_indices, function (i, range) {
      var params = {
        id_type: $('input[name=id_type]:checked').val(),
        date_start_index: range[0],
        date_end_index: range[1],
        date_index_max: date_index_max,
        format: format
      };

      $.get(url, params).done(function (res) {
        result[format][i] = res;

        if (Object.keys(result[format]).length == date_indices.length) {
          console.log(result[format]);

          var cells = [];
          for (var key in result[format]) {
            cells = cells.concat(result[format][key].cells);
          }
          draw_rr(res.xAxis_categories, res.yAxis_categories, cells, res.title, format)
        }
      }).fail(function (xhr) {
        console.log(xhr.responseText);
        loading.hide();
        chart[format].text('error');
      });
    });
  }

  $('input[name=id_type]:radio').on('change', function () {
    loading.show();
    $.each(['number', 'percentage'], function (i, format) {
      chart[format].empty();
      fetch_rr(format);
    });
  });

  $(function () {
    fetch_rr('number');
    fetch_rr('percentage');
  });
</script>
