.alert.alert-warning.alert-dismissible.my-3{role: "alert"}
  = raw @alert

= user_link(@screen_name, class: 'btn btn-primary btn-block btn-lg') do
  = t('.see_on_twitter', user: @screen_name)

= render(partial: 'adsense/ad', locals: {vertical: :top})
