.vertical-spacing
.text-center{style: 'max-width: 600px; margin: 0 auto;'}
  = user_link(params[:screen_name], class: 'btn btn-primary btn-block btn-lg center-block') do
    = t('.see_on_twitter', user: params[:screen_name])

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

.text-center.right-side
  = render partial: 'home/right_side'

.vertical-spacing
