= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

.text-center{style: 'max-width: 600px; margin: 0 auto;'}
  = render partial: 'twitter/profile', locals: {user: @user}

.vertical-spacing
