<div class="display-3">Total <span id="total-count"></span></div>
<div class="display-3">Mobile <span id="mobile-count"></span></div>
<div class="display-3">Desktop <span id="desktop-count"></span></div>

<script>
  function updateView() {
    var url = '<%= raw api_v1_access_stats_path(key: ENV['STATS_API_KEY']) %>';
    $.get(url, function (res) {
      console.log(res);
      $('#total-count').text(res['total']);
      $('#mobile-count').text(res['mobile']);
      $('#desktop-count').text(res['desktop']);
    });
  }

  $(function () {
    updateView();
    setInterval(updateView, 10 * 1000);
  });
</script>
