default: &default
  twitter_user_recently_created: <%= 30.minutes %>
  log_recently_created: <%= 5.minutes %>
  usage_stat_recently_created: <%= 30.minutes %>
  recently_searched: <%= 5.minutes %>
  recently_creating: <%= 5.minutes %>
  recently_messaging: <%= 5.minutes %>
  many_friends_threshold: 1000
  too_many_friends_threshold: 5000
  anonymous_search_histories_limit: 2
  free_plan_search_histories_limit: 10
  cluster_bad_words_path: 'data/cluster_bad_words.json'
  cluster_good_words_path: 'data/cluster_good_words.json'
  faq_path: 'data/faq.json'
  kaomoji_path: 'data/kaomoji.json'
development:
  <<: *default
  twitter_user_recently_created: <%= 1.minute %>
  log_recently_created: <%= 1.minute %>
  usage_stat_recently_created: <%= 1.minute %>
  recently_searched: <%= 1.minute %>
  recently_creating: <%= 1.minute %>
  recently_messaging: <%= 1.minute %>
production:
  <<: *default
test:
  <<: *default
  twitter_user_recently_created: <%= 1.minute %>
  cluster_bad_words_path: 'data/cluster_bad_words.test.json'
  cluster_good_words_path: 'data/cluster_good_words.test.json'
