%h3.h4.text-center よくある質問

%hr

%h4.h5 Q. 無料期間はありますか？
%div 初めて登録する際は、最初の14日間が無料になります。

%hr

%h4.h5 Q. 無料期間内に解約するとどうなりますか？
%div 無料期間内に解約した場合は、料金は一切かかりません。

%hr

%h4.h5 Q. クレジットカード以外での支払いはできますか？
%div 個別にご対応させていただきますので、下記問い合わせ先までご連絡ください。

%hr

%h4.h5 Q. 他にも質問があります
%div
  %a{href: 'https://twitter.com/ego_tter', target: '_blank'} @ego_tter
  へのDM、または、
  %span{style: 'white-space: nowrap;'}= t('searches.common.email_address')
  へのメールにてお気軽にご質問ください。