<h2 class="h5 text-center my-5">休眠フォロー分析とは？</h2>

<div class="m-3">
  <p>ツイッターのフォローから一定期間ツイートしていないユーザーを見つけるえごったーの機能です。</p>

  <p>例えば、2週間ツイートしていない、1ヶ月ツイートしていない、半年ツイートしていないユーザーを一括で検索できます。</p>

  <p>他にも、フォローを外した・外されたユーザーの管理をすることもできます。</p>
</div>

<div class="text-center m-3">
  <%= image_tag '/images/ss_summary_400.png', class: 'border', width: '200', loading: 'lazy' %>
  <div class="text-muted small mt-1">休眠フォロー分析の例</div>
</div>

<hr>
