%ul.nav.nav-tabs.nav-justified
  - tabs.each.with_index do |tab, i|
    %li.nav-item
      - if tab.has_key?(:name)
        = link_to tab[:url], class: ('nav-link active' if active_tab == i) do
          = tab[:name]
          %br
          = (tab[:count] && tab[:count] > 0) ? tab[:count] : t('.analyzing')
      - else
        = link_to tab[:text].html_safe, tab[:url], class: ('nav-link active' if active_tab == i)
.vertical-spacing