<% url_options = {share_dialog: 1, follow_dialog: 1, sign_in_dialog: 1, purchase_dialog: 1} %>
<% url = follow_confirmations_path(url_options.merge(via: current_via('sign_in_button'))) %>
<% url = sign_in_path(follow: true, via: current_via('sign_in_description'), redirect_path: url) %>

<% if user_signed_in? %>
  <span class="text-danger"><%= t('.text_for_user', user: current_user.screen_name) %></span>
<% else %>
  <span class="text-danger"><%= t('.text_for_visitor') %></span>
<% end %>

<%= t('.switch_account_html', url: url) %>
