<script>
  $(function () {
    var width = $('.adsense-container-bottom').width();
    if (width < 300) { // iPhone 5
      $('.adsense-container-bottom').css('margin-left', '-' + (300 - width) / 2 + 'px');
    }
  })
</script>
<div class="adsense-container-bottom">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-3146843071247817"
       data-ad-slot="5293528010"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>