<div style="text-align: center;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:336px;height:280px"
       data-ad-client="ca-pub-3146843071247817"
       data-ad-slot="4817821610"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>