<div class="user-items-chart media">
  <div class="media-body">
    <div id="<%= graph.object_id %>" class="common-chart"></div>
    <script>
      $(function () {
        var graph_option = $.extend(true, {}, window.common_pie_chart_options);
        graph_option.series[0].data = <%= raw graph.to_json %>;
        graph_option.chart.margin = 0;
        $('#<%= graph.object_id %>').highcharts(graph_option);
      });
    </script>

    <%= render(partial: 'twitter/tweet_box', locals: {text: tweet_text}) %>
  </div>
</div>