<div class="row">
  <div class="col-xs-3">
    <div>
      <%= link_to_previous_page items, t('views.pagination.previous').html_safe, params: params %>
    </div>
  </div>
  <div class="col-xs-6 text-center">
    <div>
      <%= page_entries_info items %>
    </div>
  </div>
  <div class="col-xs-3 text-right">
    <div>
      <%= link_to_next_page items, t('views.pagination.next').html_safe, params: params %>
    </div>
  </div>
</div>