<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="<%= @tw_user.image %>" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @tw_user.nickname %></h4>
    <%= @tw_user.location %>
  </div>
</div>