<%= render(partial: 'searches/profile_overview', locals: {searched_tw_user: @searched_tw_user}) %>

<div class="container" style="padding: 15px 0px 0px 0px;">
  <%= render(partial: 'searches/search_menu_items',
             locals: {searched_tw_user: @searched_tw_user,
                      menu_items: @menu_items,
                      menu_update_histories: @menu_update_histories,
                      menu_common_friends_and_followers: @menu_common_friends_and_followers,
                      close_friends: @menu_close_friends,
                      usage_stats: @menu_usage_stats,
                      menu_clusters_belong_to: @menu_clusters_belong_to}) %>
</div>
