<%= render(partial: 'searches/profile_overview', locals: {searched_tw_user: @searched_tw_user}) %>

<div class="container" style="padding: 0px;">
  <h2 style="text-align: center; margin-top: 5px;"><small><%= @name %></small></h2>
  <%= render(partial: 'searches/status_items', locals: {searched_tw_user: @searched_tw_user, status_items: @status_items}) %>
</div>