%button.navbar-toggle.collapsed{style: 'margin-right: 0;', 'aria-expanded' => 'false', 'data-target' => '#navbar-hamburger', 'data-toggle' => 'collapse', type: 'button'}
  %span.sr-only Toggle navigation
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

- if user_signed_in?
- else
  -# Emulates 'btn btn-default' with padding, text-decoration and color
  %button.navbar-toggle{style: 'margin-right: 15px; padding: 6px 12px;'}
    = link_to t('dictionary.sign_in'), welcome_path(via: build_via('header')), style: 'color: #333'