<html lang="ja">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta charset='utf-8'>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <%= render partial: 'shared/google' %>
</head>
<body>
<%= image_tag '/ajax-loader.gif' %>&nbsp;<span style="font-size: 24px;"><%= t('.sign_in') %></span>

<script>
  setTimeout(function () {
    window.location.href = '<%= @redirect_path.html_safe %>';
  }, 3000);
</script>
</body>
</html>
