<html>
<body>
<%= render partial: 'shared/google_analytics', formats: %i(js) %>
<%= image_tag '/ajax-loader.gif' %>&nbsp;<%= t('login.after_sign_in.proceccing') %>
<script>
  setTimeout(function () {
    window.location.href = '<%= @redirect_path.html_safe %>';
  }, 3000);
</script>
</body>
</html>
