<div>
  <%= link_to t('dictionary.sign_in_with_twitter'), sign_in_path,
              class: 'btn btn-lg btn-info btn-block', style: 'margin-top: 10px;' %>

  <div>
    <p style="margin-top: 10px;"><strong>ログインでえごったーがもっと便利に！</strong></p>
    <p>ログインすると、</p>
    <ul>
      <li>検索が早くなります。</li>
      <li>更新通知が届きます。</li>
      <li>検索エラーが減ります。</li>
    </ul>
  </div>

  <div class="small">※ログインすると自動的に <a href="https://twitter.com/ego_tter" target="_blank">@ego_tter</a> をフォローします。</div>
</div>
