<h2 class="h5 text-center my-5">いいねクリーナーとは？</h2>

<div class="m-3">
  <p>ツイッターでいいねしたツイートを一括で削除するえごったーの機能です。</p>

  <p>最大で <%= DeleteFavoritesRequest::DESTROY_LIMIT %>件 のいいねを一括で削除できます。</p>

  <p>さらに残っているいいねツイートは、2〜4週間ほど経過すると削除できるようになります。（これは世界共通のツイッターの制限です。）</p>
</div>

<div class="text-center m-3">
  <%= image_tag '/images/ss_delete_favorites_400.png', class: 'border', width: '200', loading: 'lazy' %>
  <div class="text-muted small mt-1">いいね削除の条件指定</div>
</div>

<hr>
