<h2 id="delete-favorites-faq" class="h4 text-center my-5"><%= t('.title') %></h2>

<div id="delete-favorites-faq-container" class="container" style="min-height: 500px;">
  <%= image_tag '/ajax-loader.gif', size: '16x16' %>
</div>

<% if divider %>
  <hr>
<% end %>

<script>
  $(function () {
    var url = '<%= raw api_v1_delete_favorites_faq_path(via: current_via) %>';
    var id = '#delete-favorites-faq-container';
    new AsyncLoader(url, id).lazyload();
  });
</script>
