<% title t('.meta_title') %>
<% content_for :navbar_title, t('.navbar_title') %>

<h2 class="h4 text-center my-5"><%= t('.page_title') %></h2>
<%= render partial: 'api/v1/delete_favorites/faq' %>

<% if show_redirection_modal? %>
  <%= render partial: 'modal/redirection_modal', locals: {positive_url: delete_favorites_mypage_path(via: current_via('redirection_modal'))} %>
<% end %>
