<% id ||= '' %>

<div id="<%= id %>" class="anchor-offset faq my-3">
  <div class="faq-question text-center rounded-top">
    <div class="faq-question-inner"><%= text %></div>

  </div>
  <div class="faq-watermark d-flex align-items-center rounded-bottom">
    <div class="faq-watermark-inner bg-white rounded">
      <div><%= image_tag('/logo_96x96.png', size: '32x32') %></div>
    </div>
    <div class="faq-sitename">egotter.com</div>
  </div>
</div>
