<% id ||= '' %>

<div id="<%= id %>" class="my-3">
  <div class="text-center rounded-top" style="font-size: 22px; border: 15px solid #EA2184; width: 560px; max-width: 100%;">
    <div class="rounded" style="margin: 15% 15%;"><%= text %></div>
  </div>
  <div class="d-flex align-items-center rounded-bottom" style="background-color: #EA2184; width: 560px; max-width: 100%;">
    <div class="bg-white rounded" style="padding: 3px; margin: 0 15px 15px 15px;">
      <div><%= image_tag('/logo_96x96.png', size: '48x48') %></div>
    </div>
    <div style="color: white; font-size: 24px; font-weight: bold; height: 48px; margin-bottom: 12px;">egotter.com</div>
  </div>
</div>
