<div>
  <h2 class="text-center h3"><%= t('.title') %></h2>

  <img class="center-block" src="<%= image_path('/egotter_maintenance_840x450.png') %>" width="<%= request.from_pc? ? '450px' : '300px' %>">

  <div class="vertical-spacing"></div>
  <div class="text-center"><%= raw t('.under_maintenance') %></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
</div>