<div class="specified-commercial-transactions">

  <h2 class="h4"><%= t('.title') %></h2>

  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>販売価格</td>
      <td>商品毎に記載</td>
    </tr>
    <tr>
      <td>販売価格以外に必要な費用</td>
      <td>インターネット接続には別途、ご契約の通信事業者への通信料が発生いたします。</td>
    </tr>
    <tr>
      <td>代金の支払方法・時期</td>
      <td>クレジットカード (支払時期は各カード会社毎の引き落とし日になります)</td>
    </tr>
    <tr>
      <td>引渡時期</td>
      <td>申込後即時にご利用いただけます。</td>
    </tr>
    <tr>
      <td>返品、不良品の交換について</td>
      <td>商品の特性上、返品または交換は一切お受け出来ません。</td>
    </tr>
    <tr>
      <td>解約条件</td>
      <td>契約期間内であれば、いつでも解約することができます。<br>解約は各サービスの設定ページより行うことが可能です。<br>途中解約による返金は承っておりません。</td>
    </tr>
    <tr>
      <td>お問い合わせ</td>
      <td>
        リプライ・DM：<a href="https://twitter.com/ego_tter" target="_blank">@ego_tter</a><br>
        メール：<span><%= t('searches.common.email_address') %></span>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-muted">事業者情報等についてはお問い合わせをいただき次第メールにて開示いたします。<br>その際、開示手数料として1回の請求につき3240円(税込)を申し受けます。</div>
</div>
