<%# http://kiyaku.jp/hinagata/gp.html %>
<div class="terms-of-service">

  <h2>
    <small><%= t('dictionary.terms_of_service') %></small>
  </h2>

  <div>この利用規約（以下，「本規約」といいます。）は，えごったー開発者（以下，「当方」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</div>

  <h3><small>第1条（適用）</small></h3>
  <div>本規約は，ユーザーと当方との間の本サービスの利用に関わる一切の関係に適用されるものとします。</div>

  <h3><small>第2条（利用登録）</small></h3>
  <div>1. 登録希望者が当方の定める方法によって利用登録を申請し，当方がこれを承認することによって，利用登録が完了するものとします。</div>
  <br>

  <div>2. 当方は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。</div>

  <ul>
    <li>（1）利用登録の申請に際して虚偽の事項を届け出た場合</li>
    <li>（2）本規約に違反したことがある者からの申請である場合</li>
    <li>（3）その他，当方が利用登録を相当でないと判断した場合</li>
  </ul>

  <h3><small>第3条（禁止事項）</small></h3>
  <div>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</div>

  <ul>
    <li>（1）法令または公序良俗に違反する行為</li>
    <li>（2）犯罪行為に関連する行為</li>
    <li>（3）当方のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
    <li>（4）当方のサービスの運営を妨害するおそれのある行為</li>
    <li>（5）他のユーザーに関する個人情報等を収集または蓄積する行為</li>
    <li>（6）他のユーザーに成りすます行為</li>
    <li>（7）当方のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
    <li>（8）その他，当方が不適切と判断する行為</li>
  </ul>

  <h3><small>第4条（本サービスの提供の停止等）</small></h3>
  <div>1. 当方は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</div>

  <ul>
    <li>（1）本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
    <li>（2）地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
    <li>（3）コンピュータまたは通信回線等が事故により停止した場合</li>
    <li>（4）その他，当方が本サービスの提供が困難と判断した場合</li>
  </ul>

  <div>2. 当方は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害について，理由を問わず一切の責任を負わないものとします。</div>

  <h3><small>第5条（利用制限および登録抹消）</small></h3>
  <div>1. 当方は，以下の場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。</div>

  <ul>
    <li>（1）本規約のいずれかの条項に違反した場合</li>
    <li>（2）登録事項に虚偽の事実があることが判明した場合</li>
    <li>（3）その他，当方が本サービスの利用を適当でないと判断した場合</li>
  </ul>

  <div>2. 当方は，本条に基づき当方が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</div>

  <h3>
    <small>第6条（免責事項）</small>
  </h3>
  <div>1. 当方の債務不履行責任は，当方の故意または重過失によらない場合には免責されるものとします。</div>
  <div>2. 当方は，何らかの理由によって責任を負う場合にも，通常生じうる損害の範囲内かつ有料サービスにおいては代金額（継続的サービスの場合には1か月分相当額）の範囲内においてのみ賠償の責任を負うものとします。</div>
  <div>3. 当方は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</div>


  <h3><small>第7条（サービス内容の変更等）</small></h3>
  <div>当方は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</div>


  <h3><small>第8条（利用規約の変更）</small></h3>
  <div>当方は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。</div>


  <h3><small>第9条（通知または連絡）</small></h3>
  <div>ユーザーと当方との間の通知または連絡は，当方の定める方法によって行うものとします。</div>

  <h3><small>第10条（権利義務の譲渡の禁止）</small></h3>
  <div>ユーザーは，当方の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</div>

  <h3><small>第11条（準拠法・裁判管轄）</small></h3>
  <div>1. 本規約の解釈にあたっては，日本法を準拠法とします。</div>
  <div>2. 本サービスに関して紛争が生じた場合には，当方の本店所在地を管轄する裁判所を専属的合意管轄とします。</div>


</div>
