* {
  font-family: 'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', sans-serif;
}

.egotter-pink {
  color: #EA2184;
}

.x-small {
  font-size: x-small;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-box-primary {
  border-left: 5px solid #004085;
  background-color: #cce5ff;
}

.alert-box-danger {
  border-left: 5px solid #721c24;
  background-color: #f8d7da;
}

.oneline-tabs {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
}

.w-60 {
  width: 60%;
}

.anchor-offset {
  margin-top: -90px;
  padding-top: 90px;
}
