* {
  font-family: 'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', sans-serif;
}

.egotter-pink {
  color: #EA2184;
}

a, a:hover, a:focus {
  text-decoration: none;
}
