.audience-insights {
  h2, h3 {
    font-size: 22px;
  }

  .page-description {
    font-size: 16px;
  }

  .chart-container {
    height: 250px;
  }

  .note {
    color: #999999;
    font-size: 12px;
  }
}
