.directory-profiles {
  h2 {
    font-size: 14px;
    margin: 32px 0 12px;
    padding: 0;
  }

  td {
    text-align: center;
  }

  table {
    border: none;
  }

  .borderless td, .borderless th {
    border: none;
  }
}
