.footer {
  .container {
    text-align: center;
    padding-top: 15px;
    line-height: 200%;

    .copy {
      color: #999;
    }

    #global-sneak-error-message {
      font-size: x-small;
    }
  }
}