.pre-footer {
  #share {
    text-align: center;
    margin-top: 15px;
  }

  .follow-official-account {
    text-align: center;
    margin-bottom: 15px;
  }
}

.footer {
  .container {
    text-align: center;
    padding-top: 15px;
    line-height: 200%;
  }

  a {
    text-decoration: none;
  }
}