nav {
  background-color: #f8f8f8;

  .container {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
  }

  .col-sm-4:nth-child(n+2) {
    padding-top: 7px;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .header-title {
    color: #333;
    font-size: 18px;
  }

  .placeholder {
    color: #999;
  }

  a.btn-search {
    margin-right: 10px;
  }
}

h1.top_header {
  background-color: #ffffff;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
  text-align: center;
  font-weight: normal;
  font-size: x-large;
  color: #333333;
}

#search-modal {
  h2 {
    font-size: 22px;
  }

  .submit-btn {
    margin-top: 10px;
  }
}

#header-info.alert-info,
#header-warning.alert-warning,
#global-info-message,
#global-warning-message {
  margin-bottom: 0;
}

.header-container {
  border-bottom: solid #e7e7e7 1px;
}

.header-container {
  background-color: #ffffff;
}
