.navbar {
  margin-bottom: 0;
}

.navbar .navbar-brand {
  display: table;
  padding: 1px 0 0 1px;
}

.navbar .navbar-brand img {
  display: table-cell;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.navbar .navbar-brand span {
  display: table-cell;
  vertical-align: middle;
}

.navbar-small .navbar-toggle {
  margin-right: 0;
  padding: 6px 12px;
}

.navbar-small a,
.navbar-large a {
  color: #333;
  text-decoration: none;
}

.navbar-small .btn-with-margin,
.navbar-large .btn-with-margin {
  margin-right: 10px; /* override .navbar-toggle */
}

.search-modal .submit-btn {
  margin-top: 10px;
}

.search-modal h2 {
  text-align: center;
}

p.alert-info, p.alert-warning {
  margin: 0;
}