$navbar-font-color: #333333;

.navbar {
  margin-bottom: 0;

  .navbar-brand {
    display: table;
    padding: 1px 0 0 0;
  }

  .navbar-brand {
    & img {
      display: table-cell;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    }

    span {
      color: $navbar-font-color;
    }
  }

  .navbar-brand span {
    display: table-cell;
    vertical-align: middle;
  }

  .navbar-right > li > a {
    color: $navbar-font-color;
  }
}

.navbar-header {
  .icon-bar {
    background-color: $navbar-font-color !important;
  }

  button.navbar-toggle a {
    color: $navbar-font-color;
  }
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  margin-top: 8px;

  input {
    background-color: #ffffff !important;
  }

  .has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: $navbar-font-color;
  }

  .has-search .form-control {
    //padding-right: 12px;
    padding-left: 34px;
  }
}

.search-modal {
  .submit-btn {
    margin-top: 10px;
  }
}

p.alert-info, p.alert-warning {
  margin: 0;
}

.header-container {
  border-bottom: solid #e7e7e7 1px;
}

.header-container {
  background-color: #ffffff;
}
