.searches {
  background-color: #ffffff;

  &.descriptions {
    div {
      font-size: large;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    i {
      color: #EA2184;
    }
  }

  .lead {
    font-size: 14px;
  }

  .text-notice {
    color: #EA2184;
  }
}

.right-side {
  h2 {
    font-size: 22px;
  }

  .lead {
    font-size: 16px;
  }

  .search-hint {
    font-size: xx-small;
  }

  .text-notice {
    color: #EA2184;
  }

  .thin-border {
    border-top: 1px solid #eeeeee;
    width: 100px;
    height: 5px;
    display: inline-block;
  }

  .or-text {
    color: #999999;
  }
}

.vertical-spacing {
  margin-top: 14px;
  width: 100%;
  height: 1px;
}
