.one-sided-friends,
.unfriends,
.relationships,
.inactive-friends,
.friends {
  &.h2 {
    font-size: medium;
  }

  &.separator {
    background-color: #f5f5f5;
    height: 15px;
    margin: 0 -15px 0 -15px;
  }

  &.lead {
    font-size: small;
    margin-bottom: 15px;
  }

  &.lead.in-top-page {
    margin-top: 15px;
  }

  &.screenshot {
    margin-top: 15px;

    .col-xs-12 {
      margin-bottom: 15px;
    }
  }

  &.loading-image {
    margin-top: 15px;
  }

  .tab-pane {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}