.pricing-table {
  max-width: 600px;
  margin: 0 auto;

  th {
    font-weight: bold;
  }

  td:first-child {
    white-space: nowrap;
  }

  tbody > tr > td {
    vertical-align: middle;
  }

  .glyphicon.glyphicon-ok-sign {
    color: #449d44;
    font-size: medium;
  }

  .glyphicon.glyphicon-minus-sign {
    color: #c9302c;
    font-size: medium;
  }
}
