/* Extra small */
@media (max-width: 575.98px) {
  .profile-header {
    border: none !important;
    border-bottom: 1px solid #dee2e6 !important;
  }

  .profile-banner {
    height: 120px;
    text-align: center;
  }

  .profile-icon-wrapper {
    width: 100%;
    position: relative;
  }

  .profile-icon-image {
    position: absolute;
    transform: translateY(-40px);
    width: 80px;
    height: 80px;
    border: 2px solid #eee;
  }
}

/* Except extra small */
@media (min-width: 576px) {
  .profile-header {
    border: 1px solid #dee2e6 !important;
  }

  .profile-banner {
    height: 200px;
    text-align: center;
  }

  .profile-icon-wrapper {
    width: 100%;
    position: relative;
  }

  .profile-icon-image {
    position: absolute;
    transform: translateY(-60px);
    width: 120px;
    height: 120px;
    border: 2px solid #eee;
  }
}

.profile-banner img {
  max-width: 100%;
  max-height: 100%;
}

.profile-buttons {
  text-align: right;
}

.profilemenu {
  display: none;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  z-index: 9999;
}

.fade-profilemenu {
  display: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
