.search-result .this-page-is,
.search-result .other-services {
  margin-bottom: 15px;
}

.search-result .loading-image,
.common-result .loading-image {
  margin-bottom: 15px;
}

.menu-items.media {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.menu-items.menu-items-last.media {
  border-bottom: none;
  padding-bottom: 0;
}

.menu-items .media-body a {
  display: table-cell;
}

.menu-items .media-body a img {
  border-right: 3px solid #ffffff;
}

.menu-items .common-chart,
.menu-items .close-friends-chart {
  height: 70px;
  width: 120px;
  border: 1px solid #e6e6e6;
}

.menu-items .usage-stats-chart-container,
.menu-items .clusters-belong-to-chart-container {
  height: 120px;
}