.menu-items {
  height: 320px;
  margin-bottom: 15px;

  .result-link {
    color: inherit;
    display: block;
  }

  .media-body a img {
    margin-right: 3px;
  }

  .common-chart {
    height: 70px;
    width: 120px;
    border: 1px solid #e6e6e6;
  }

  &.media {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 15px;

    h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .description {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .media-body {
      padding-top: 22px;
    }

    .reload-btn,
    .btn-view-more {
      margin-top: 15px;
    }
  }
}
