/* change color of carousel dots start */
.slick-dots li button:before {
  color: white !important;
}
/* change color of carousel dots end */

/* new.html.erb start */
.top-page .total-search-count {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.top-page .lead-sentence {
  margin-bottom: 15px;
}

.top-page .submit-btn2 {
  margin-top: 0;
}

.top-page .keyword-timeline h2 {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}

.top-page .egotter-timeline {
  text-align: center;
}

.top-page .egotter-features h2, .top-page .egotter-features h3 {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

.top-page .egotter-features .feature-description {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.top-page .egotter-features .feature-description .last-child {
  margin-bottom: 0;
}

.top-page .share-me {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}

.top-page #share {
  text-align: center;
}

.top-page .official-account {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.top-page .follow-official-account {
  text-align: center;
}

.top-page hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* new.html.erb end */

/* _user_items.html.erb start */
.user-item-carousel {
  margin-bottom: 0px !important;
}

.user-item-carousel.in-modal {
  margin-left: -15px;
  margin-right: -15px;
}

.user-item-carousel .media:first-child {
  margin-top: 15px;
}

.user-item-carousel .media {
  margin-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.user-item-carousel .media-left {
  padding-left: 15px;
}

.user-item-carousel .media-object {
  border: 1px solid #eeeeee;
}

.user-item-carousel .media-body {
  padding-right: 15px;
}

.user-item-carousel .media-heading {
  font-weight: bold;
  font-size: 14px;
  word-break: break-all;
}

.user-item-carousel .media-heading .glyphicon.glyphicon-lock {
  color: #999999;
  font-size: 13px;
  font-weight: normal;
}

.user-item-carousel .media-heading .glyphicon.glyphicon-ok {
  color: #5cb85c;
  font-size: 13px;
  font-weight: normal;
}

.user-item-carousel .media-body .screen_name {
  font-size: 13px;
  color: #999999;
}

.user-item-carousel .media-body .screen_name a {
  color: #333333;
  text-decoration: none;
}

.user-item-carousel .media-body .description {
  font-size: 13px;
  color: #999999;
}

.user-item-carousel .media-body .statuses_count {
  font-size: 13px;
  color: #999999;
}

.user-item-carousel .media-body .friends_count {
  font-size: 13px;
  color: #999999;
}

.user-item-carousel .media-body .followers_count {
  font-size: 13px;
  color: #999999;
}

.user-item-carousel .media-body .score {
  font-size: 13px;
  color: #999999;
}

.user-item-carousel .media-right {
  padding-right: 15px;
}

.user-item-carousel .media-right a {
  color: #333333;
  text-decoration: none;
}

.user-item-carousel .media-right span {
  display: table-cell;
}

.user-item-carousel .media-right span:nth-child(1) button {
  margin-right: 15px;
}

.user-item-carousel .media-right button {
  margin-top: 6px;
}

.user-items.media {
  margin-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.user-items .common-chart {
  height: 100px;
  border: 1px solid #e6e6e6;
  margin-left: 15px;
  margin-right: 15px;
}

.user-items .icon-chart {
  border: 1px solid #e6e6e6;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.top-page .tweet-preview-box,
.common-result .tweet-preview-box,
.usage-stats .tweet-preview-box,
.clusters-belong-to .tweet-preview-box {
  border: 1px solid #e6e6e6;
}

.top-page .tweet-preview-box textarea,
.common-result .tweet-preview-box textarea,
.usage-stats .tweet-preview-box textarea,
.clusters-belong-to .tweet-preview-box textarea {
  margin: 0;
  padding: 5px;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.top-page .tweet-box,
.common-result .tweet-box,
.usage-stats .tweet-box,
.clusters-belong-to .tweet-box
{
  margin-top: 5px;
}
/* _user_items.html.erb end */

/* _status_items.html.erb start */
.status-item-carousel {
  margin-bottom: 0 !important;
}

.status-item-carousel .media:first-child {
  margin-top: 15px;
}

.status-item-carousel .media {
  margin-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.status-item-carousel .media-left {
  padding-left: 15px;
}

.status-item-carousel .media-object {
  border: 1px solid #eeeeee;
}

.status-item-carousel .media-body {
  padding-right: 15px;
}

.status-item-carousel .media-heading {
  font-weight: normal;
  font-size: 12px;
  color: #999999;
}

.status-item-carousel .media-body .text {
  font-size: 13px;
  color: #333333;
}

.status-item-carousel .media-body .text a {
  color: #333333;
  text-decoration: none;
}

.status-item-carousel .media-body .statuses_count {
  font-size: 13px;
  color: #999999;
}

.status-item-carousel .media-body .friends_count {
  font-size: 13px;
  color: #999999;
}

.status-item-carousel .media-body .followers_count {
  font-size: 13px;
  color: #999999;
}

.status-item-carousel .media-right a {
  color: #333333;
  text-decoration: none;
}

.status-item-carousel .media-right button {
  margin-top: 6px;
  margin-right: 15px;
}
/* _status_items.html.erb end */

/* _profile_overview.html.erb start */
.profile-overview-container {
  padding: 0;
}

.profile-overview-container .profile-overview-overlay {
  padding-bottom: 50px; /* add 30px for .slick-slider */
  background-color: rgba(0, 0, 0, 0.2);
}

.profile-overview-container .profile-overview .slick-slider {
  margin-bottom: 0;
}

.profile-overview-container .profile-icon-link {
  display: inline-block;
}

.profile-overview-container .profile-icon {
  margin-top: 15px;
  border: 4px solid #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.profile-overview-container .profile-names {
  margin-top: 15px;
  font-weight: normal;
  line-height: 120%;
  font-size: 18px;
  color: #ffffff;
}

.profile-overview-container .profile-names .glyphicon.glyphicon-lock {
  color: #ffffff;
}

.profile-overview-container .profile-names .glyphicon.glyphicon-ok {
  color: #5cb85c;
}

.profile-overview-container .profile-screen_name-link {
  color: #ffffff;
  text-decoration: none;
}

.profile-overview-container .profile-description,
.profile-overview-container .profile-location,
.profile-overview-container .profile-link,
.profile-overview-container .profile-calendar {
  color: #ffffff;
  margin: 5px 5px auto 5px;
}

.profile-counts-container {
  padding: 0px 15px 0px 15px;
}

.profile-counts-container a {
  text-decoration: none;
  color: #777777;
}

.profile-counts-container > .row {
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid #e6e6e6;
}

.profile-counts-container .tweet-count-box {
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-counts-container .stats-count {
  font-weight: bold;
}

.profile-counts-container .friends-count-box {
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.profile-counts-container .followers-count-box {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* _profile_overview.html.erb end */

/* _search_menu_items.html.erb start */
.menu-items.media {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.menu-items .media-body {
  padding-left: 15px;
  padding-right: 15px;
}

.menu-items .media-heading {
  font-size: 16px;
  margin-bottom: 15px;
}

.menu-items .media-body a {
  display: table-cell;
}

.menu-items .media-body a img {
  border-right: 3px solid #ffffff;
}

.menu-items .media-right {
  padding: 0px;
}

.menu-items .close-friends-chart {
  margin-right: 15px;
  height: 70px;
  width: 120px;
  border: 1px solid #e6e6e6;
}

.menu-items.usage-stats-chart .media-heading h4,
.menu-items.clusters-belong-to-chart .media-heading h4 {
  margin-bottom: 5px;
}

.menu-items.usage-stats-chart .usage-stats-chart-container,
.menu-items.clusters-belong-to-chart .clusters-belong-to-chart-container {
  height: 120px;
}

.menu-items.usage-stats-chart a.btn,
.menu-items.clusters-belong-to-chart a.btn {
  margin-top: 0;
}

.menu-items .common-chart {
  margin-right: 15px;
  height: 70px;
  width: 120px;
  border: 1px solid #e6e6e6;
}

.menu-items .container a {
  margin-top: 15px;
}
/* _search_menu_items.html.erb end */


/* statuses.html.erb start */
.name-and-tweet-items {
  padding: 0;
}

.name-and-tweet-items h2 {
  text-align: center;
  margin-top: 5px;
}

.name-and-tweet-items .page-entries-info-top {
  margin-left: 15px;
  margin-right: 15px;
}

.name-and-tweet-items .page-entries-info-bottom {
  margin: 15px;
}
/* statuses.html.erb end */

/* common_result.html.erb start */
.common-result {
  padding: 0;
}

.common-result h2 {
  text-align: center;
  margin-top: 5px;
}

.common-result .empty {
  margin-left: 15px;
  margin-right: 15px;
}

.common-result .page-entries-info-top {
  margin-left: 15px;
  margin-right: 15px;
}

.common-result .page-entries-info-bottom {
  margin: 15px;
}

/* common_result.html.erb end */

/* usage-stats start */
.usage-stats {
  padding: 0;
}

.usage-stats h2 {
  text-align: center;
  margin-top: 5px;
}

.usage-stats h3 {
  text-align: center;
  margin: 0;
}

.usage-stats .chart {
  height: 160px;
  margin: 0 auto;
}

.usage-stats hr {
  border-color: #999999;
}
/* usage-stats end */

/* clusters-belong-to start */
.clusters-belong-to {
  padding: 0;
}

.clusters-belong-to h2 {
  text-align: center;
  margin-top: 5px;
}

.clusters-belong-to h3 {
  text-align: center;
  margin: 0;
}

.clusters-belong-to .chart {
  height: 200px;
  margin: 0 auto;
}

.clusters-belong-to hr {
  border-color: #999999;
}
/* clusters-belong-to end */

/* update-histories start */
.update-histories {
  padding: 15px 0 0 0;
}

.update-histories .summary {
  padding-left: 15px;
  display: block;
  font-size: 13px;
  color: #777777;
}

.update-histories .media {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.update-histories .media-body {
  padding-right: 15px;
}

.update-histories .media-heading {
  padding-left: 15px;
  font-weight: bold;
  font-size: 14px;
}
/* update-histories end */

/* menu.html.erb start */
.menu {
  padding: 0;
}

.menu h2 {
  text-align: center;
  margin-top: 10px;
}

.menu .checkbox {
  margin-left: 15px;
  margin-right: 15px;
}

.menu .edit_notification hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* menu.html.erb end */

/* support.html.erb start */
.support {
  padding-left: 0px;
  padding-right: 0px;
}
.support h2 {
  text-align: center;
  margin-top: 10px;
}

.support .media {
  margin-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.support .media-body {
  padding-left: 15px;
  padding-right: 15px;
}

.support .media-heading {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.support .media-body .answer {
  font-size: 13px;
  color: #333333;
}
/* support.html.erb end */

/* terms_of_service.html.erb start */
.terms-of-service ul,
.privacy-policy ul{
  list-style: none;
  margin: 15px 0 15px 0;
  padding: 0;
}

.terms-of-service li,
.privacy-policy li{
  margin: 0;
  padding: 0;
}
/* terms_of_service.html.erb end */

/* maintenance.html.erb start */
.maintenance h2 {
  text-align: center;
  margin-top: 10px;
}

.maintenance div {
  text-align: center;
}
/* maintenance.html.erb end */

/* show.html.erb start */
.search-result h2 {
  text-align: center;
  margin-top: 10px;
}
/* show.html.erb end */

/* header start */
.navbar {
  margin-bottom: 0;
  background-color: #ffffff;
}

.navbar .navbar-brand {
  font-size: 30px;
  display: table;
  padding: 1px 0 0 1px;
}

.navbar .navbar-brand img {
  display: table-cell;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.navbar .navbar-brand span {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
}

.navbar .welcome-btn, .navbar .menu-btn, .navbar .search-modal-btn {
  text-align: center;
  padding: 3px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: none;
}

.navbar .welcome-icon, .navbar .menu-icon, .navbar .search-modal-icon {
  font-size: 20px
}

.navbar .welcome-text, .navbar .menu-text, .navbar .search-modal-text {
  font-size: 9px;
}

.search-modal .submit-btn {
  margin-top: 10px;
}

.search-modal h2 {
  text-align: center;
}

p.alert-info, p.alert-warning {
  margin: 0;
}

/* header end */

/* footer start */
.footer p {
  text-align: center;
  padding-top: 15px;
  line-height: 200%;
}

.footer a {
  text-decoration: none;
}
/* footer end */

.adsense-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
