* {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
body,
.navbar {
  background-color: #f5f5f5;
}

.main-container {
  background-color: #ffffff;
}

.navbar-default {
  border: none;
}

.notice-container,
.yield-container,
.pre-footer {
  background-color: #ffffff;
}

.pre-footer {
  margin-top: 15px;
}

/* change color of carousel dots end */

.tweet-preview-box {
  border: 1px solid #e6e6e6;
}

.tweet-preview-box textarea {
  font-size: small;
  margin: 0;
  padding: 5px;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tweet-box {
  margin-top: 5px;
}

a, a:hover, a:focus {
  text-decoration: none;
}

/* global */
.return-to-results-top,
.return-to-results-bottom {
  margin-top: 15px;
  text-align: center;
}

.return-to-results-bottom {
  margin-bottom: 15px;
}

.page-entries-info-top {
  margin-bottom: 15px;
}

.page-entries-info-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
