.tgl-btns {
  display: table;

  .checkbox {
    margin-left: 15px;
    margin-right: 15px;
  }

  .table-cell-left,
  .table-cell-right {
    display: table-cell;
    vertical-align: top;
  }

  .table-cell-right {
    padding-left: 10px;
  }
}

.table.settings, .table.trial {
  tbody > tr > td {
    vertical-align: middle;
  }
}
