.menu {
  .checkbox {
    margin-left: 15px;
    margin-right: 15px;
  }

  .edit_notification hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .table-box {
    display: table;
  }

  .table-cell-left,
  .table-cell-right {
    display: table-cell;
    vertical-align: top;
  }

  .table-cell-right {
    padding-left: 10px;
  }
}
