.settings {
  max-width: 600px;
  margin: 0 auto;

  .tgl-buttons {
    background-color: #ffffff;

    .text-muted {
      font-size: x-small;
    }
  }

  .table {
    background-color: #ffffff;
    margin: 0;

    td {
      vertical-align: middle;
    }
  }

  .notes {
    font-size: x-small;
  }
}
