.feature-section {
  h2 {
    font-size: 22px;
  }

  image {
    display: block;
    margin: 0 auto;
  }

  .description {
    font-size: 14px;
  }

  .text-muted {
    font-size: x-small;
  }

  .small-tips {
    width: 275px;
    margin: 0 auto;
  }
}

#review-section {
  #review-title {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }
}
