.status-item .media:first-child {
  margin-top: 15px;
}

.status-item .media {
  margin-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.status-item .media-object {
  border: 1px solid #eeeeee;
}

.status-item .media-heading {
  font-weight: normal;
  font-size: 12px;
  color: #999999;
}

.status-item .media-body .text {
  font-size: 13px;
  color: #333333;
}