#unfriends {
  max-width: 600px;
  margin: 0 auto;

  h2 {
    font-size: 22px;
    line-height: 160%;
  }

  img {
    border: 1px solid #999999;
  }

  .lead {
    font-size: 14px;
  }

  .btn-width-wrapper {
    width: 275px;
    margin: 0 auto;

    .text-right {
      font-size: x-small;
    }
  }
}

#what_is_unfriends,
#how_to_use_unfriends,
#when_to_use_unfriends {
  max-width: 600px;
  margin: 0 auto;

  .description {
    font-size: 14px;
  }

  .btn {
    max-width: 275px;
    margin: 0 auto;
  }
}
