.welcome:not(.on-modal) {
  padding-bottom: 15px;
}

.welcome {
  .btn-info {
    margin-top: 15px;
  }

  .feature-description {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .screenshot {
    margin-top: 15px;
  }

  .screenshot .col-xs-12 {
    margin-bottom: 15px;
  }

  .follow-egotter,
  .tweet-egotter {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: normal;
  }
}