RAKE='/var/egotter/bin/cron/rake.sh'
RUNNER='/var/egotter/bin/cron/runner.sh'
RUBY='/var/egotter/bin/cron/ruby.sh'

 * * * * * $RUBY bin/invalidate_expired_credentials.rb
30 * * * * $RAKE orders:update_stripe_attributes
45 * * * * $RAKE periodic_reports:send_remind_messages
50 * * * * $RAKE twitter_db:queued_users:delete
25 * * * * $RUNNER 'UpdateEgotterFollowersWorker.perform_async'
 * * * * * $RUBY bin/send_metrics_to_cloudwatch.rb
 * * * * * $RUBY bin/delete_not_found_users.rb
 * * * * * $RUBY bin/delete_forbidden_users.rb

# PeriodicReport(morning) 5:20 and 7:30
20 20 * * * $RAKE periodic_reports:create_records:morning
30 22 * * * $RAKE periodic_reports:send_messages:morning
# PeriodicReport(afternoon) 9:20 and 11:30
20  0 * * * $RAKE periodic_reports:create_records:afternoon
30  2 * * * $RAKE periodic_reports:send_messages:afternoon
# PeriodicReport(night) 18:20 and 20:30
20  9 * * * $RAKE periodic_reports:create_records:night
30 11 * * * $RAKE periodic_reports:send_messages:night

*/3 * * * * ROLE=web $RUBY bin/autoscaling.rb
*/3 * * * * ROLE=sidekiq $RUBY bin/autoscaling.rb

0 * * * *   $RAKE trends:save