PREFIX='cd /var/egotter && RAILS_ENV=production'
RAKE='/usr/local/bin/bundle exec rake'
RUBY='/usr/local/bin/bundle exec ruby'
RUNNER='/usr/local/bin/bundle exec rails r'
SUFFIX='>>/var/egotter/log/cron.log 2>&1'

# all
# 0,15,30,45 * * * * /bin/bash -l -c "$PREFIX $RUBY bin/cleanup_twitter_api_cache.rb $SUFFIX"

# web
# 20 19 * * *     /bin/sh -c "/var/egotter/bin/cron/rake tmp:cache:clear"
# 30 19 * * *     /bin/sh -c "/var/egotter/bin/cron/rake cache_directories:rotate"
# 40 19 * * *     /bin/sh -c "/bin/rm -rf /efs/*remove_ok"
# * * * * *       /bin/sh -c "/var/egotter/bin/cron/rake bots:update_authorized"
# 30 * * * *      /bin/sh -c "/var/egotter/bin/cron/rake orders:update_stripe_attributes"
# 15 * * * *      /bin/sh -c "/var/egotter/bin/cron/runner 'SetSearchCountWorker.perform_async'"
# 1-51/10 * * * * /bin/sh -c "/var/egotter/bin/cron/runner 'SendMetricsToSlackWorker.perform_async'"
# 6-56/10 * * * * /bin/sh -c "/var/egotter/bin/cron/runner 'CalculateMetricsWorker.perform_async'"
# * * * * *       /bin/sh -c "/var/egotter/bin/cron/runner 'SendMetricsToCloudWatchWorker.new.perform'"
# * * * * *       /bin/sh -c "/var/egotter/bin/cron/runner 'CreateFollowWorker.fetch_one'"
# */5 * * * *     /usr/bin/sudo /bin/bash -l -c "monit monitor all $SUFFIX"

# sidekiq
# */10 * * * *    /bin/bash -l -c "$PREFIX $RUNNER 'SendMetricsToSlackWorker.new.send_sidekiq_worker_metrics(\%w{sidekiq_import})' $SUFFIX"
