RAKE='/var/egotter/bin/cron/rake.sh'
RUNNER='/var/egotter/bin/cron/runner.sh'

# 40 19 * * *     /bin/sh -c "/bin/rm -rf /efs_twitter/*remove_ok"
# 20 19 * * *     /bin/sh -c "$RAKE tmp:cache:clear"
# 30 19 * * *     /bin/sh -c "$RAKE cache_directories:rotate"
# * * * * *       /bin/sh -c "$RAKE bots:update_authorized"
# 30 * * * *      /bin/sh -c "$RAKE orders:update_stripe_attributes"
# 45 * * * *      /bin/sh -c "$RAKE periodic_reports:send_remind_messages"
# 25 * * * *      /bin/sh -c "$RUNNER 'UpdateEgotterFollowersWorker.perform_async'"
# 1-51/10 * * * * /bin/sh -c "$RUNNER 'SendMetricsToSlackWorker.perform_async'"
# 6-56/10 * * * * /bin/sh -c "$RUNNER 'CalculateMetricsWorker.perform_async'"
# * * * * *       /bin/sh -c "$RUNNER 'SendMetricsToCloudWatchWorker.new.perform'"
# * * * * *       /bin/sh -c "$RUNNER 'CreateFollowWorker.fetch_one'"

# PeriodicReport
# 25 22 * * * /bin/sh -c "$RAKE servers:launch"
# 30 22 * * * /bin/sh -c "$RAKE periodic_reports:send_messages:morning"
# 20  0 * * * /bin/sh -c "$RAKE servers:terminate"
# 25  2 * * * /bin/sh -c "$RAKE servers:launch"
# 30  2 * * * /bin/sh -c "$RAKE periodic_reports:send_messages:afternoon"
# 20  4 * * * /bin/sh -c "$RAKE servers:terminate"
# 25 11 * * * /bin/sh -c "$RAKE servers:launch"
# 30 11 * * * /bin/sh -c "$RAKE periodic_reports:send_messages:night"
# 20 13 * * * /bin/sh -c "$RAKE servers:terminate"
