<div class="my-3"><%= t('.message') %></div>

<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top}) %>

<%= render template: 'messages/ad_blocker_detected' %>
