<div class="my-3"><%= t('.message_html', user: @screen_name) %></div>

<%= render(partial: 'profiles/profile_section', locals: {user: @user}) if @user %>

<div class="mt-3 mb-1"><%= render(partial: 'profiles/twitter_button', locals: {screen_name: @screen_name, location: 'top'}) %></div>
<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top}) %>
