<p><%= t('.message_html', user: @screen_name, url: force_sign_in_path(via: current_via)) %></p>
<p><%= t('error_pages.support_html', url: direct_message_url(User::EGOTTER_CS_UID, t('short_messages.error_inquiry', name: action_name))) %></p>

<%= render partial: 'ad_section', locals: {screen_name: @screen_name} %>

<div class="my-3"><%= render template: 'messages/api_not_authorized' %></div>
