<div class="my-3"><%= t('.message_html', user: @screen_name, url: sign_out_path(via: current_via)) %></div>
<div class="text-muted small my-3"><%= t('.note') %></div>

<%= render partial: 'ad_section', locals: {screen_name: @screen_name} %>

<%= render template: 'messages/blocker_not_permitted' %>
