<div class="my-3"><%= t('.message_html', url: sign_in_path(via: current_via)) %></div>

<div class="text-center">
  <a class="twitter-timeline" data-width="600" href="https://twitter.com/ego_tter?ref_src=twsrc%5Etfw">Tweets by ego_tter</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
