<p class="my-3"><%= t('.login_html', url: sign_in_path(via: current_via)) %></p>
<p class="my-3"><%= t('.message_html', user1: 'ego_tter', user2: 'egotter_cs') %></p>
<p class="my-3"><%= t('error_pages.support_html', url: direct_message_url(User::EGOTTER_CS_UID, t('short_messages.error_inquiry', name: action_name))) %></p>

<div class="text-center">
  <a class="twitter-timeline" data-width="600" href="https://twitter.com/ego_tter?ref_src=twsrc%5Etfw">Tweets by ego_tter <%= image_tag '/ajax-loader.gif', size: '16x16' %></a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
