<div class="my-3"><%= t('.message', user: @screen_name) %></div>

<div class="card">
  <div class="card-body">
    <%= render(partial: 'profiles/profile_section', locals: {user: @user}) if @user %>
  </div>
</div>

<%= render partial: 'ad_section', locals: {screen_name: @screen_name} %>

<%= render template: 'messages/not_found_reason', locals: {expanded: true} %>
