<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top}) %>
<div class="my-3"><%= t('.message', user: @screen_name) %></div>
<%= render template: 'messages/not_found_reason' %>
