<%
  if log.message.blank?
    if log.error_class.blank?
      message = ''
    else
      url = sign_in_path(via: build_via('error_log'), redirect_path: delete_tweets_path(via: build_via('error_log')))
      values = {user: current_user.screen_name, count: log.destroy_count, retry_in: log.retry_in, url: url, default: t('.errors.default_html')}
      message = t(".errors.#{log.error_class.demodulize}_html", values)
    end
  else
    message = log.message
  end
%>

<tr>
  <td><%= l(log.created_at.in_time_zone('Tokyo'), format: :delete_tweets_short) %></td>
  <td><%= message %></td>
</tr>
