- if log.respond_to?(:retry_in) && log.respond_to?(:destroy_count) && log.message.blank?
  - url = sign_in_path(via: build_via('error_log'), redirect_path: delete_tweets_path(via: build_via('error_log')))
  - values = {user: current_user.screen_name, count: log.destroy_count || 0, retry_in: log.retry_in || 0, url: url, default: 'This is a default.'}
  - message = t(".errors.#{log.error_class.demodulize}_html", values)
- else
  - message = log.message

%tr
  %td= l(log.created_at.in_time_zone('Tokyo'), format: :delete_tweets_short)
  %td= message
