<!DOCTYPE html>
<html>
<head>
  <title>KpiAdmin</title>
  <%= stylesheet_link_tag    "kpi_admin/application", media: "all" %>
  <%= javascript_include_tag "kpi_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
