- unless ad_ng_twitter_user?(@twitter_user)
  .adsense-container.row
    .col-sm-12{class: "#{'col-md-6' if request.from_pc?}"}
      %script{async: '', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
      - left_slot = request.from_pc? ? left_ad_slot(user_signed_in?, action, vertical) : left_ad_slot_responsive(vertical)
      %ins.adsbygoogle{'data-ad-client' => 'ca-pub-3146843071247817', 'data-ad-slot' => left_slot, style: 'display:inline-block;width:300px;height:250px'}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
    - if request.from_pc?
      .hidden-xs.hidden-sm.col-md-6
        %script{async: '', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
        %ins.adsbygoogle{'data-ad-client' => 'ca-pub-3146843071247817', 'data-ad-slot' => right_ad_slot(user_signed_in?), style: 'display:inline-block;width:300px;height:250px'}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});