- content_for :canonical_url do
  %link{href: canonical_url, rel: 'canonical'}

- breadcrumb breadcrumb_name, twitter_user.screen_name

- title page_title
- set_meta_tags description: meta_description

= render partial: 'twitter/profile', locals: {user: twitter_user}

%h2.h2.page-title= page_title

.page-description.text-center= page_description
