- url = searches_path(screen_name: screen_name, via: via, redirect_path: search_path_for(controller_name, screen_name))
= link_to t('searches.common.search_by', user: mention_name(screen_name)), url, class: 'btn btn-info btn-block', method: :post