.directory-timelines
  %h2.text-center.my-5= t('.title')
  .d-flex.flex-wrap
    - 100.times.each_slice(3) do |n1, n2, n3|
      .m-3= link_to n1, directory_timeline_path(id1: @id1, id2: n1)
      .m-3= link_to n2, directory_timeline_path(id1: @id1, id2: n2) unless n2.nil?
      .m-3= link_to n3, directory_timeline_path(id1: @id1, id2: n3) unless n3.nil?
