.directory-timelines
  %h2.text-center.my-5= t('.title')
  .d-flex.flex-wrap
    - @screen_names.each_slice(3) do |n1, n2, n3|
      .m-3= link_to n1, timeline_path(screen_name: n1, via: 'directory_timelines'), title: t('timelines.show.directory_page_title', user: n1)
      .m-3= link_to n2, timeline_path(screen_name: n2, via: 'directory_timelines'), title: t('timelines.show.directory_page_title', user: n2) unless n2.nil?
      .m-3= link_to n3, timeline_path(screen_name: n3, via: 'directory_timelines'), title: t('timelines.show.directory_page_title', user: n3) unless n3.nil?
