<div class="feed-item p-3 p-lg-5">
  <h3 class="h4 text-center"><%= feed_title %></h3>
  <div class="text-center"><%= feed_description %></div>

  <div class="text-center"><%= image_tag feed_image %></div>

  <%= link_to button_text, page_url, class: 'btn btn-primary btn-block' %>
</div>
