.container._debug_alert
  - if GlobalMessage.message_found?
    .alert.alert-dark.mt-3{role: "alert"}
      = raw GlobalMessage.latest_message

  - if alert
    .alert.alert-warning.alert-dismissible.mt-3{role: "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} &times;
      = raw alert
  - elsif notice
    - if @without_alert_container
      .mt-3= raw notice
    - else
      .alert.alert-info.alert-dismissible.mt-3{role: "alert"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
          %span{"aria-hidden" => "true"} &times;
        = raw notice
