.container._debug_alert
  - if alert
    .alert.alert-warning.alert-dismissible.mt-3{role: "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} &times;
      = raw alert
  - elsif notice
    .alert.alert-info.alert-dismissible.mt-3{role: "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} &times;
      = raw notice
