- unless under_maintenance?
  .modal.fade.search-modal{'aria-labelledby' => 'search-modal-label', role: 'dialog', tabindex: '-1'}
    .modal-dialog{role: 'document'}
      .modal-content
        .modal-header
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
            %span{'aria-hidden' => 'true'} ×
          %h4#search-modal-label.modal-title= t('searches.new.search_by_egotter')
        .modal-body
          = render partial: 'common/search_box_group', locals: {via: :search_history_input, screen_names: screen_names_for_search}
          = render partial: 'search_histories/load', locals: {in_modal: true}
  :javascript
    $(function () {
      $('.search-modal').on('shown.bs.modal', function() {
        $.post('#{modal_open_logs_path}', {name: 'search_history'});
      });
    });