.modal.fade.search-modal{'aria-labelledby' => 'search-modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} ×
        %h4#search-modal-label.modal-title= t('searches.common.search_by_egotter')
      .modal-body
        = render partial: 'common/search_form', locals: {via: :search_history_input}

        .search-histories-header
          %h2.text-center
            %small= t('search_histories.index.title')
          .twitter.users.row
            = render(partial: 'twitter/user', collection: latest_search_histories, cached: true, locals: {ad: false, via: 'search_histories'})