%h2.h4{style: 'display: none;'}= t('searches.new.keyword_timeline')
:javascript
  $(function () {
    $.get('#{keyword_timeline_path}')
        .done(function (res) {
          var container = $('.keyword-timeline-container');
          container.find('h2').show();
          container.append(res.html);
        })
        .fail(function (xhr) {
          console.log(xhr.responseText);
        });
  });