<html>
<head>
  <meta http-equiv="refresh" content="60;URL=<%= raw @url %>">
  <script>
    setTimeout(function () {
      location.href = '<%= raw @url %>';
    }, <%= @count * 1000 %>);
  </script>
</head>
<body>
Redirecting...
</body>
</html>
